COES.MVC.Intranet/Service References/ServiceReferenceCostoOportunidad/CostoOportunidadServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.coes.org.pe" elementFormDefault="qualified" targetNamespace="www.coes.org.pe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ImportarTodoSeñalesSP7">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoImportacion" type="xs:int" />
        <xs:element minOccurs="0" name="FechaDiario" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="copercodi" type="xs:int" />
        <xs:element minOccurs="0" name="covercodi" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarTodoSeñalesSP7Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hayEjecucionEnCurso" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVersion" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="option" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarCalculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReproceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVersion" type="xs:int" />
        <xs:element minOccurs="0" name="indicador" type="xs:int" />
        <xs:element minOccurs="0" name="fecInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="indicadorDatos" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="option" type="xs:int" />
        <xs:element minOccurs="0" name="importarSP7" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReprocesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EjecutarReprocesoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprocesarCalculoTodos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReprocesarCalculoTodosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculoFactoresUtilizacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculoFactoresUtilizacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarProcesoDiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarProcesoDiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EjecutarProcesoDiarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>