COES.MVC.Intranet/Service References/ServiceReferenceCostoOportunidad/CostoOportunidadServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="www.coes.org.pe" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="www.coes.org.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.coes.org.pe/Imports">
      <xsd:import schemaLocation="http://appserver.coes.org.pe/COES.WebService.CostoOportunidad/CostoOportunidadServicio.svc?xsd=xsd0" namespace="www.coes.org.pe" />
      <xsd:import schemaLocation="http://appserver.coes.org.pe/COES.WebService.CostoOportunidad/CostoOportunidadServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICostoOportunidadServicio_ImportarTodoSeñalesSP7_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportarTodoSeñalesSP7" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_ImportarTodoSeñalesSP7_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportarTodoSeñalesSP7Response" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_ProcesarCalculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarCalculo" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_ProcesarCalculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarCalculoResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_EjecutarReproceso_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReproceso" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_EjecutarReproceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReprocesoResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_ReprocesarCalculoTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ReprocesarCalculoTodos" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_ReprocesarCalculoTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReprocesarCalculoTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_CalculoFactoresUtilizacion_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculoFactoresUtilizacion" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_CalculoFactoresUtilizacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculoFactoresUtilizacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_EjecutarProcesoDiario_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarProcesoDiario" />
  </wsdl:message>
  <wsdl:message name="ICostoOportunidadServicio_EjecutarProcesoDiario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarProcesoDiarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ICostoOportunidadServicio">
    <wsdl:operation name="ImportarTodoSeñalesSP7">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/ImportarTodoSeñalesSP7" message="tns:ICostoOportunidadServicio_ImportarTodoSeñalesSP7_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/ImportarTodoSeñalesSP7Response" message="tns:ICostoOportunidadServicio_ImportarTodoSeñalesSP7_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarCalculo">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/ProcesarCalculo" message="tns:ICostoOportunidadServicio_ProcesarCalculo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/ProcesarCalculoResponse" message="tns:ICostoOportunidadServicio_ProcesarCalculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarReproceso">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/EjecutarReproceso" message="tns:ICostoOportunidadServicio_EjecutarReproceso_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/EjecutarReprocesoResponse" message="tns:ICostoOportunidadServicio_EjecutarReproceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReprocesarCalculoTodos">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/ReprocesarCalculoTodos" message="tns:ICostoOportunidadServicio_ReprocesarCalculoTodos_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/ReprocesarCalculoTodosResponse" message="tns:ICostoOportunidadServicio_ReprocesarCalculoTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculoFactoresUtilizacion">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/CalculoFactoresUtilizacion" message="tns:ICostoOportunidadServicio_CalculoFactoresUtilizacion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/CalculoFactoresUtilizacionResponse" message="tns:ICostoOportunidadServicio_CalculoFactoresUtilizacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarProcesoDiario">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/EjecutarProcesoDiario" message="tns:ICostoOportunidadServicio_EjecutarProcesoDiario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoOportunidadServicio/EjecutarProcesoDiarioResponse" message="tns:ICostoOportunidadServicio_EjecutarProcesoDiario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>