COES.Job.CostoOportunidad/Connected Services/ServiceReferenceCostoOportunidad/CostoOportunidadServicio2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="www.coes.org.pe" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CostoOportunidadServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="www.coes.org.pe" location="http://appserver.coes.org.pe/COES.WebService.CostoOportunidad/CostoOportunidadServicio.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ICostoOportunidadServicio" type="i0:ICostoOportunidadServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportarTodoSeñalesSP7">
      <soap:operation soapAction="www.coes.org.pe/ICostoOportunidadServicio/ImportarTodoSeñalesSP7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarCalculo">
      <soap:operation soapAction="www.coes.org.pe/ICostoOportunidadServicio/ProcesarCalculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarReproceso">
      <soap:operation soapAction="www.coes.org.pe/ICostoOportunidadServicio/EjecutarReproceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprocesarCalculoTodos">
      <soap:operation soapAction="www.coes.org.pe/ICostoOportunidadServicio/ReprocesarCalculoTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculoFactoresUtilizacion">
      <soap:operation soapAction="www.coes.org.pe/ICostoOportunidadServicio/CalculoFactoresUtilizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarProcesoDiario">
      <soap:operation soapAction="www.coes.org.pe/ICostoOportunidadServicio/EjecutarProcesoDiario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CostoOportunidadServicio">
    <wsdl:port name="BasicHttpBinding_ICostoOportunidadServicio" binding="tns:BasicHttpBinding_ICostoOportunidadServicio">
      <soap:address location="http://appserver.coes.org.pe/COES.WebService.CostoOportunidad/CostoOportunidadServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>