COES.MVC.Extranet/Service References/ServiceReferenceMail/wsAppointment1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listaDestinatarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaHoraInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaHoraFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarCitaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="as_to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="as_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="as_msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="as_html" type="xs:boolean" />
        <xs:element minOccurs="0" name="ab_array_txtFile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviaCorreoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaCorreoFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="as_from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="as_name_from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="as_to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="as_to_bcc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="as_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="as_msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="is_html" type="xs:boolean" />
        <xs:element minOccurs="0" name="as_nombre_y_extension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtFile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaCorreoFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviaCorreoFullResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>