COES.MVC.Extranet/Service References/ServiceReferenceMail/wsMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsMail" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sicoes.coes.org.pe:8081/wsSICOES/wsAppointment.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sicoes.coes.org.pe:8081/wsSICOES/wsAppointment.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMail_EnviarCita_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCita" />
  </wsdl:message>
  <wsdl:message name="IMail_EnviarCita_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="IMail_EnviaCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaCorreo" />
  </wsdl:message>
  <wsdl:message name="IMail_EnviaCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IMail_EnviaCorreoFull_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaCorreoFull" />
  </wsdl:message>
  <wsdl:message name="IMail_EnviaCorreoFull_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaCorreoFullResponse" />
  </wsdl:message>
  <wsdl:portType name="IMail">
    <wsdl:operation name="EnviarCita">
      <wsdl:input wsaw:Action="http://tempuri.org/IMail/EnviarCita" message="tns:IMail_EnviarCita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMail/EnviarCitaResponse" message="tns:IMail_EnviarCita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMail/EnviaCorreo" message="tns:IMail_EnviaCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMail/EnviaCorreoResponse" message="tns:IMail_EnviaCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaCorreoFull">
      <wsdl:input wsaw:Action="http://tempuri.org/IMail/EnviaCorreoFull" message="tns:IMail_EnviaCorreoFull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMail/EnviaCorreoFullResponse" message="tns:IMail_EnviaCorreoFull_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMail" type="tns:IMail">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarCita">
      <soap:operation soapAction="http://tempuri.org/IMail/EnviarCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaCorreo">
      <soap:operation soapAction="http://tempuri.org/IMail/EnviaCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaCorreoFull">
      <soap:operation soapAction="http://tempuri.org/IMail/EnviaCorreoFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsMail">
    <wsdl:port name="BasicHttpBinding_IMail" binding="tns:BasicHttpBinding_IMail">
      <soap:address location="http://sicoes.coes.org.pe:8081/wsSICOES/wsAppointment.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>