COES.MVC.Publico/Service References/SeguridadServicio/SeguridadServicio21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.coes.com.pe" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.coes.com.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.coes.com.pe/Imports">
      <xsd:import schemaLocation="http://www.coes.org.pe/wsSeguridad/SeguridadServicio.svc?xsd=xsd0" namespace="www.coes.com.pe" />
      <xsd:import schemaLocation="http://www.coes.org.pe/wsSeguridad/SeguridadServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.coes.org.pe/wsSeguridad/SeguridadServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" />
      <xsd:import schemaLocation="http://www.coes.org.pe/wsSeguridad/SeguridadServicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeguridadServicio_GrabarSolicitudExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarSolicitudExtranet" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarSolicitudExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarSolicitudExtranetResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AprobarSolicitudExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:AprobarSolicitudExtranet" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AprobarSolicitudExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AprobarSolicitudExtranetResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerSolicitudExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudExtranet" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerSolicitudExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudExtranetResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuarioSolicitudBaja_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarioSolicitudBaja" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuarioSolicitudBaja_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarioSolicitudBajaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerDetalleSolicitudExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleSolicitudExtranet" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerDetalleSolicitudExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleSolicitudExtranetResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionSolicitudExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionSolicitudExtranet" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionSolicitudExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionSolicitudExtranetResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarPasswordNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarPasswordNuevo" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarPasswordNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarPasswordNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarPermiso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPermiso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPermiso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarPermisos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPermisos" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarPermisos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPermisosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarWebApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarWebApp" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarWebApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarWebAppResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarWebApp_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarWebApp" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarWebApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarWebAppResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerWebApp_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerWebApp" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerWebApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerWebAppResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarWebApps_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarWebApps" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarWebApps_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarWebAppsResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_BuscarRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRoles" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_BuscarRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRoles" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListaOpcionesPorRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaOpcionesPorRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListaOpcionesPorRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaOpcionesPorRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRolPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRolPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAreas" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAreasResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_BuscarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_BuscarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AutentificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutentificarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AutentificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutentificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_RecuperarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarClave" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_RecuperarClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarExistencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarExistencia" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarExistencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarExistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_CambiarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClave" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_CambiarClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_CambiarClaveUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClaveUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_CambiarClaveUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClaveUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_DarDeBajaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DarDeBajaUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_DarDeBajaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DarDeBajaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuariosPorRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosPorRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuariosPorRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosPorRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AutentificarUsuarioAD_InputMessage">
    <wsdl:part name="parameters" element="tns:AutentificarUsuarioAD" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AutentificarUsuarioAD_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutentificarUsuarioADResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuarioPorLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorLogin" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuarioPorLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuariosExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosExtranet" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuariosExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosExtranetResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuariosPorEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosPorEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuariosPorEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosPorEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ActualizarUsuarioExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioExtranet" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ActualizarUsuarioExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioExtranetResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuariosRepresentantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosRepresentantes" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuariosRepresentantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosRepresentantesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GenerarPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarPassword" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GenerarPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionRepresentante_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionRepresentante" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionRepresentante_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionRepresentanteResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionModificacionUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionModificacionUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionModificacionUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionModificacionUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionBajaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionBajaUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarNotificacionBajaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotificacionBajaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorSistema" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorPadre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorPadre" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorPadre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorPadreResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ActualizarNodoOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarNodoOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ActualizarNodoOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarNodoOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerNroItemPorPadre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNroItemPorPadre" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerNroItemPorPadre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNroItemPorPadreResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarOpcionesNodoSeleccionado_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarOpcionesNodoSeleccionado" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarOpcionesNodoSeleccionado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarOpcionesNodoSeleccionadoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionesPorAplicacionRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionesPorAplicacionRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionesPorAplicacionRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionesPorAplicacionRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerNodosPorRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNodosPorRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerNodosPorRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNodosPorRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerarAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerarAreas" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerarAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerarAreasResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerAreasCOES_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasCOES" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerAreasCOES_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasCOESResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresas" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarAccesoOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAccesoOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarAccesoOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAccesoOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarPermisoOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarPermisoOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarPermisoOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarPermisoOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPermisosPorOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPermisosPorOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPermisosPorOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPermisosPorOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPersmisosRolOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPersmisosRolOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPersmisosRolOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPersmisosRolOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EncriptarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EncriptarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EncriptarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncriptarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_DesencriptarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DesencriptarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_DesencriptarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesencriptarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarEstadistica_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarEstadistica" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarEstadistica_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarEstadisticaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEstadisticaPorOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticaPorOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEstadisticaPorOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticaPorOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEstadisticaPorSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticaPorSistema" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEstadisticaPorSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticaPorSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEmpresasPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresasPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEmpresasPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresasPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorUsuarioFavorito_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorUsuarioFavorito" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorUsuarioFavorito_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorUsuarioFavoritoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarAccesoDirecto_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarAccesoDirecto" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarAccesoDirecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarAccesoDirectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarAccesoDirecto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAccesoDirecto" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarAccesoDirecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAccesoDirectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerModulo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModulo" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerModulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarModulos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarModulos" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarModulos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarModulosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarModulo_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarModulo" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarModulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarModulo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarModulo" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarModulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_RegistrarSolicitudUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSolicitudUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_RegistrarSolicitudUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSolicitudUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerSolicitudPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerSolicitudPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarSolicitudModulo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSolicitudModulo" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarSolicitudModulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSolicitudModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarRecordatorioSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRecordatorioSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EnviarRecordatorioSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRecordatorioSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AprobarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AprobarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AprobarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AprobarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerModulosPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModulosPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerModulosPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModulosPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AprobarSolicitudModulo_InputMessage">
    <wsdl:part name="parameters" element="tns:AprobarSolicitudModulo" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AprobarSolicitudModulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AprobarSolicitudModuloResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ActualizarEmpresasUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEmpresasUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ActualizarEmpresasUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEmpresasUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AprobarUsuarioSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:AprobarUsuarioSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AprobarUsuarioSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:AprobarUsuarioSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerModulosPorUsuarioSelecion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModulosPorUsuarioSelecion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerModulosPorUsuarioSelecion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModulosPorUsuarioSelecionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRolesPorDefectoExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolesPorDefectoExtranet" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRolesPorDefectoExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolesPorDefectoExtranetResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarModuloPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarModuloPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarModuloPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarModuloPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuarioRepLegales_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioRepLegales" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuarioRepLegales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioRepLegalesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarSolicituExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicituExtranet" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarSolicituExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicituExtranetResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeguridadServicio">
    <wsdl:operation name="GrabarSolicitudExtranet">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarSolicitudExtranet" message="tns:ISeguridadServicio_GrabarSolicitudExtranet_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarSolicitudExtranetResponse" message="tns:ISeguridadServicio_GrabarSolicitudExtranet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AprobarSolicitudExtranet">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/AprobarSolicitudExtranet" message="tns:ISeguridadServicio_AprobarSolicitudExtranet_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/AprobarSolicitudExtranetResponse" message="tns:ISeguridadServicio_AprobarSolicitudExtranet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudExtranet">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerSolicitudExtranet" message="tns:ISeguridadServicio_ObtenerSolicitudExtranet_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerSolicitudExtranetResponse" message="tns:ISeguridadServicio_ObtenerSolicitudExtranet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarioSolicitudBaja">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuarioSolicitudBaja" message="tns:ISeguridadServicio_ListarUsuarioSolicitudBaja_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuarioSolicitudBajaResponse" message="tns:ISeguridadServicio_ListarUsuarioSolicitudBaja_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleSolicitudExtranet">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerDetalleSolicitudExtranet" message="tns:ISeguridadServicio_ObtenerDetalleSolicitudExtranet_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerDetalleSolicitudExtranetResponse" message="tns:ISeguridadServicio_ObtenerDetalleSolicitudExtranet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionSolicitudExtranet">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionSolicitudExtranet" message="tns:ISeguridadServicio_EnviarNotificacionSolicitudExtranet_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionSolicitudExtranetResponse" message="tns:ISeguridadServicio_EnviarNotificacionSolicitudExtranet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarPasswordNuevo">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarPasswordNuevo" message="tns:ISeguridadServicio_EnviarPasswordNuevo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarPasswordNuevoResponse" message="tns:ISeguridadServicio_EnviarPasswordNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarPermiso">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarPermiso" message="tns:ISeguridadServicio_GrabarPermiso_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarPermisoResponse" message="tns:ISeguridadServicio_GrabarPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPermiso">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarPermiso" message="tns:ISeguridadServicio_EliminarPermiso_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarPermisoResponse" message="tns:ISeguridadServicio_EliminarPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPermiso">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPermiso" message="tns:ISeguridadServicio_ObtenerPermiso_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPermisoResponse" message="tns:ISeguridadServicio_ObtenerPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPermisos">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarPermisos" message="tns:ISeguridadServicio_ListarPermisos_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarPermisosResponse" message="tns:ISeguridadServicio_ListarPermisos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarWebApp">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarWebApp" message="tns:ISeguridadServicio_GrabarWebApp_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarWebAppResponse" message="tns:ISeguridadServicio_GrabarWebApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarWebApp">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarWebApp" message="tns:ISeguridadServicio_EliminarWebApp_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarWebAppResponse" message="tns:ISeguridadServicio_EliminarWebApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerWebApp">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerWebApp" message="tns:ISeguridadServicio_ObtenerWebApp_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerWebAppResponse" message="tns:ISeguridadServicio_ObtenerWebApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarWebApps">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarWebApps" message="tns:ISeguridadServicio_ListarWebApps_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarWebAppsResponse" message="tns:ISeguridadServicio_ListarWebApps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarRol" message="tns:ISeguridadServicio_GrabarRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarRolResponse" message="tns:ISeguridadServicio_GrabarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarRol" message="tns:ISeguridadServicio_EliminarRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarRolResponse" message="tns:ISeguridadServicio_EliminarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRol" message="tns:ISeguridadServicio_ObtenerRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRolResponse" message="tns:ISeguridadServicio_ObtenerRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRoles">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/BuscarRoles" message="tns:ISeguridadServicio_BuscarRoles_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/BuscarRolesResponse" message="tns:ISeguridadServicio_BuscarRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRoles">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarRoles" message="tns:ISeguridadServicio_ListarRoles_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarRolesResponse" message="tns:ISeguridadServicio_ListarRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaOpcionesPorRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListaOpcionesPorRol" message="tns:ISeguridadServicio_ListaOpcionesPorRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListaOpcionesPorRolResponse" message="tns:ISeguridadServicio_ListaOpcionesPorRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRolPorUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRolPorUsuario" message="tns:ISeguridadServicio_ObtenerRolPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRolPorUsuarioResponse" message="tns:ISeguridadServicio_ObtenerRolPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAreas">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarAreas" message="tns:ISeguridadServicio_ListarAreas_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarAreasResponse" message="tns:ISeguridadServicio_ListarAreas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarUsuario" message="tns:ISeguridadServicio_GrabarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarUsuarioResponse" message="tns:ISeguridadServicio_GrabarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarUsuario" message="tns:ISeguridadServicio_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarUsuarioResponse" message="tns:ISeguridadServicio_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuario" message="tns:ISeguridadServicio_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioResponse" message="tns:ISeguridadServicio_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarios">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/BuscarUsuarios" message="tns:ISeguridadServicio_BuscarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/BuscarUsuariosResponse" message="tns:ISeguridadServicio_BuscarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuarios" message="tns:ISeguridadServicio_ListarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuariosResponse" message="tns:ISeguridadServicio_ListarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutentificarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/AutentificarUsuario" message="tns:ISeguridadServicio_AutentificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/AutentificarUsuarioResponse" message="tns:ISeguridadServicio_AutentificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarClave">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/RecuperarClave" message="tns:ISeguridadServicio_RecuperarClave_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/RecuperarClaveResponse" message="tns:ISeguridadServicio_RecuperarClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarExistencia">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarExistencia" message="tns:ISeguridadServicio_ValidarExistencia_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarExistenciaResponse" message="tns:ISeguridadServicio_ValidarExistencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/CambiarClave" message="tns:ISeguridadServicio_CambiarClave_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/CambiarClaveResponse" message="tns:ISeguridadServicio_CambiarClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClaveUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/CambiarClaveUsuario" message="tns:ISeguridadServicio_CambiarClaveUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/CambiarClaveUsuarioResponse" message="tns:ISeguridadServicio_CambiarClaveUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DarDeBajaUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/DarDeBajaUsuario" message="tns:ISeguridadServicio_DarDeBajaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/DarDeBajaUsuarioResponse" message="tns:ISeguridadServicio_DarDeBajaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosPorRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuariosPorRol" message="tns:ISeguridadServicio_ObtenerUsuariosPorRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuariosPorRolResponse" message="tns:ISeguridadServicio_ObtenerUsuariosPorRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutentificarUsuarioAD">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/AutentificarUsuarioAD" message="tns:ISeguridadServicio_AutentificarUsuarioAD_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/AutentificarUsuarioADResponse" message="tns:ISeguridadServicio_AutentificarUsuarioAD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioPorLogin">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioPorLogin" message="tns:ISeguridadServicio_ObtenerUsuarioPorLogin_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioPorLoginResponse" message="tns:ISeguridadServicio_ObtenerUsuarioPorLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosExtranet">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuariosExtranet" message="tns:ISeguridadServicio_ListarUsuariosExtranet_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuariosExtranetResponse" message="tns:ISeguridadServicio_ListarUsuariosExtranet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosPorEmpresa">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuariosPorEmpresa" message="tns:ISeguridadServicio_ListarUsuariosPorEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuariosPorEmpresaResponse" message="tns:ISeguridadServicio_ListarUsuariosPorEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioExtranet">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ActualizarUsuarioExtranet" message="tns:ISeguridadServicio_ActualizarUsuarioExtranet_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ActualizarUsuarioExtranetResponse" message="tns:ISeguridadServicio_ActualizarUsuarioExtranet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosRepresentantes">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuariosRepresentantes" message="tns:ISeguridadServicio_ListarUsuariosRepresentantes_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuariosRepresentantesResponse" message="tns:ISeguridadServicio_ListarUsuariosRepresentantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarPassword">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GenerarPassword" message="tns:ISeguridadServicio_GenerarPassword_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GenerarPasswordResponse" message="tns:ISeguridadServicio_GenerarPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionRepresentante">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionRepresentante" message="tns:ISeguridadServicio_EnviarNotificacionRepresentante_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionRepresentanteResponse" message="tns:ISeguridadServicio_EnviarNotificacionRepresentante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionUsuario" message="tns:ISeguridadServicio_EnviarNotificacionUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionUsuarioResponse" message="tns:ISeguridadServicio_EnviarNotificacionUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionModificacionUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionModificacionUsuario" message="tns:ISeguridadServicio_EnviarNotificacionModificacionUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionModificacionUsuarioResponse" message="tns:ISeguridadServicio_EnviarNotificacionModificacionUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionBajaUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionBajaUsuario" message="tns:ISeguridadServicio_EnviarNotificacionBajaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionBajaUsuarioResponse" message="tns:ISeguridadServicio_EnviarNotificacionBajaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarOpcion" message="tns:ISeguridadServicio_GrabarOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarOpcionResponse" message="tns:ISeguridadServicio_GrabarOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarOpcion" message="tns:ISeguridadServicio_EliminarOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarOpcionResponse" message="tns:ISeguridadServicio_EliminarOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcion" message="tns:ISeguridadServicio_ObtenerOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionResponse" message="tns:ISeguridadServicio_ObtenerOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorSistema">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorSistema" message="tns:ISeguridadServicio_ObtenerOpcionPorSistema_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorSistemaResponse" message="tns:ISeguridadServicio_ObtenerOpcionPorSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorUsuario" message="tns:ISeguridadServicio_ObtenerOpcionPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorUsuarioResponse" message="tns:ISeguridadServicio_ObtenerOpcionPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorPadre">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorPadre" message="tns:ISeguridadServicio_ObtenerOpcionPorPadre_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorPadreResponse" message="tns:ISeguridadServicio_ObtenerOpcionPorPadre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarNodoOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ActualizarNodoOpcion" message="tns:ISeguridadServicio_ActualizarNodoOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ActualizarNodoOpcionResponse" message="tns:ISeguridadServicio_ActualizarNodoOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNroItemPorPadre">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerNroItemPorPadre" message="tns:ISeguridadServicio_ObtenerNroItemPorPadre_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerNroItemPorPadreResponse" message="tns:ISeguridadServicio_ObtenerNroItemPorPadre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarOpcionesNodoSeleccionado">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarOpcionesNodoSeleccionado" message="tns:ISeguridadServicio_ListarOpcionesNodoSeleccionado_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarOpcionesNodoSeleccionadoResponse" message="tns:ISeguridadServicio_ListarOpcionesNodoSeleccionado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionesPorAplicacionRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionesPorAplicacionRol" message="tns:ISeguridadServicio_ObtenerOpcionesPorAplicacionRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionesPorAplicacionRolResponse" message="tns:ISeguridadServicio_ObtenerOpcionesPorAplicacionRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNodosPorRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerNodosPorRol" message="tns:ISeguridadServicio_ObtenerNodosPorRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerNodosPorRolResponse" message="tns:ISeguridadServicio_ObtenerNodosPorRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerarAreas">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerarAreas" message="tns:ISeguridadServicio_ObtenerarAreas_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerarAreasResponse" message="tns:ISeguridadServicio_ObtenerarAreas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasCOES">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerAreasCOES" message="tns:ISeguridadServicio_ObtenerAreasCOES_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerAreasCOESResponse" message="tns:ISeguridadServicio_ObtenerAreasCOES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresas">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarEmpresas" message="tns:ISeguridadServicio_ListarEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarEmpresasResponse" message="tns:ISeguridadServicio_ListarEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresa">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresa" message="tns:ISeguridadServicio_ObtenerEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresaResponse" message="tns:ISeguridadServicio_ObtenerEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarAccesoOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarAccesoOpcion" message="tns:ISeguridadServicio_ValidarAccesoOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarAccesoOpcionResponse" message="tns:ISeguridadServicio_ValidarAccesoOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarPermisoOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarPermisoOpcion" message="tns:ISeguridadServicio_ValidarPermisoOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarPermisoOpcionResponse" message="tns:ISeguridadServicio_ValidarPermisoOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPermisosPorOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPermisosPorOpcion" message="tns:ISeguridadServicio_ObtenerPermisosPorOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPermisosPorOpcionResponse" message="tns:ISeguridadServicio_ObtenerPermisosPorOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPersmisosRolOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPersmisosRolOpcion" message="tns:ISeguridadServicio_ObtenerPersmisosRolOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPersmisosRolOpcionResponse" message="tns:ISeguridadServicio_ObtenerPersmisosRolOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncriptarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EncriptarUsuario" message="tns:ISeguridadServicio_EncriptarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EncriptarUsuarioResponse" message="tns:ISeguridadServicio_EncriptarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesencriptarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/DesencriptarUsuario" message="tns:ISeguridadServicio_DesencriptarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/DesencriptarUsuarioResponse" message="tns:ISeguridadServicio_DesencriptarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarEstadistica">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarEstadistica" message="tns:ISeguridadServicio_GrabarEstadistica_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarEstadisticaResponse" message="tns:ISeguridadServicio_GrabarEstadistica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadisticaPorOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorOpcion" message="tns:ISeguridadServicio_ObtenerEstadisticaPorOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorOpcionResponse" message="tns:ISeguridadServicio_ObtenerEstadisticaPorOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadisticaPorSistema">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorSistema" message="tns:ISeguridadServicio_ObtenerEstadisticaPorSistema_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorSistemaResponse" message="tns:ISeguridadServicio_ObtenerEstadisticaPorSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresasPorUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresasPorUsuario" message="tns:ISeguridadServicio_ObtenerEmpresasPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresasPorUsuarioResponse" message="tns:ISeguridadServicio_ObtenerEmpresasPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorUsuarioFavorito">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorUsuarioFavorito" message="tns:ISeguridadServicio_ObtenerOpcionPorUsuarioFavorito_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorUsuarioFavoritoResponse" message="tns:ISeguridadServicio_ObtenerOpcionPorUsuarioFavorito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarAccesoDirecto">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarAccesoDirecto" message="tns:ISeguridadServicio_GrabarAccesoDirecto_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarAccesoDirectoResponse" message="tns:ISeguridadServicio_GrabarAccesoDirecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAccesoDirecto">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarAccesoDirecto" message="tns:ISeguridadServicio_ListarAccesoDirecto_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarAccesoDirectoResponse" message="tns:ISeguridadServicio_ListarAccesoDirecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerModulo">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerModulo" message="tns:ISeguridadServicio_ObtenerModulo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerModuloResponse" message="tns:ISeguridadServicio_ObtenerModulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarModulos">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarModulos" message="tns:ISeguridadServicio_ListarModulos_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarModulosResponse" message="tns:ISeguridadServicio_ListarModulos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarModulo">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarModulo" message="tns:ISeguridadServicio_GrabarModulo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarModuloResponse" message="tns:ISeguridadServicio_GrabarModulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarModulo">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarModulo" message="tns:ISeguridadServicio_EliminarModulo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarModuloResponse" message="tns:ISeguridadServicio_EliminarModulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarSolicitudUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/RegistrarSolicitudUsuario" message="tns:ISeguridadServicio_RegistrarSolicitudUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/RegistrarSolicitudUsuarioResponse" message="tns:ISeguridadServicio_RegistrarSolicitudUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudPorUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerSolicitudPorUsuario" message="tns:ISeguridadServicio_ObtenerSolicitudPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerSolicitudPorUsuarioResponse" message="tns:ISeguridadServicio_ObtenerSolicitudPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarSolicitudModulo">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarSolicitudModulo" message="tns:ISeguridadServicio_EnviarSolicitudModulo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarSolicitudModuloResponse" message="tns:ISeguridadServicio_EnviarSolicitudModulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarRecordatorioSolicitud">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarRecordatorioSolicitud" message="tns:ISeguridadServicio_EnviarRecordatorioSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EnviarRecordatorioSolicitudResponse" message="tns:ISeguridadServicio_EnviarRecordatorioSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AprobarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/AprobarUsuario" message="tns:ISeguridadServicio_AprobarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/AprobarUsuarioResponse" message="tns:ISeguridadServicio_AprobarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerModulosPorUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerModulosPorUsuario" message="tns:ISeguridadServicio_ObtenerModulosPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerModulosPorUsuarioResponse" message="tns:ISeguridadServicio_ObtenerModulosPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AprobarSolicitudModulo">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/AprobarSolicitudModulo" message="tns:ISeguridadServicio_AprobarSolicitudModulo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/AprobarSolicitudModuloResponse" message="tns:ISeguridadServicio_AprobarSolicitudModulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresasUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ActualizarEmpresasUsuario" message="tns:ISeguridadServicio_ActualizarEmpresasUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ActualizarEmpresasUsuarioResponse" message="tns:ISeguridadServicio_ActualizarEmpresasUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AprobarUsuarioSolicitud">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/AprobarUsuarioSolicitud" message="tns:ISeguridadServicio_AprobarUsuarioSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/AprobarUsuarioSolicitudResponse" message="tns:ISeguridadServicio_AprobarUsuarioSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerModulosPorUsuarioSelecion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerModulosPorUsuarioSelecion" message="tns:ISeguridadServicio_ObtenerModulosPorUsuarioSelecion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerModulosPorUsuarioSelecionResponse" message="tns:ISeguridadServicio_ObtenerModulosPorUsuarioSelecion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRolesPorDefectoExtranet">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRolesPorDefectoExtranet" message="tns:ISeguridadServicio_ObtenerRolesPorDefectoExtranet_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRolesPorDefectoExtranetResponse" message="tns:ISeguridadServicio_ObtenerRolesPorDefectoExtranet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarModuloPorUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarModuloPorUsuario" message="tns:ISeguridadServicio_GrabarModuloPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarModuloPorUsuarioResponse" message="tns:ISeguridadServicio_GrabarModuloPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioRepLegales">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioRepLegales" message="tns:ISeguridadServicio_ObtenerUsuarioRepLegales_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioRepLegalesResponse" message="tns:ISeguridadServicio_ObtenerUsuarioRepLegales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSolicituExtranet">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarSolicituExtranet" message="tns:ISeguridadServicio_ListarSolicituExtranet_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarSolicituExtranetResponse" message="tns:ISeguridadServicio_ListarSolicituExtranet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>