COES.MVC.Extranet/Service References/srGestor/CMSManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMSManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sicoes.coes.org.pe:8081/wsxcms/wsGC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sicoes.coes.org.pe:8081/wsxcms/wsGC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sicoes.coes.org.pe:8081/wsxcms/wsGC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wsGC" />
      <xsd:import schemaLocation="http://sicoes.coes.org.pe:8081/wsxcms/wsGC.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICMSManager_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetFileWithContentAndName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileWithContentAndName" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetFileWithContentAndName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileWithContentAndNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetSpacesByPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpacesByPath" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetSpacesByPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpacesByPathResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetFilesByPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesByPath" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetFilesByPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesByPathResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetSpacesByUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpacesByUUID" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetSpacesByUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpacesByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetFilesByUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesByUUID" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetFilesByUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetPathByUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPathByUUID" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetPathByUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPathByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetPathByPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPathByPath" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetPathByPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPathByPathResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataByUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByUUID" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataByUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataByPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByPath" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataByPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByPathResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataByPathWithType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByPathWithType" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataByPathWithType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByPathWithTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataWithMetadataByPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWithMetadataByPath" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataWithMetadataByPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWithMetadataByPathResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataAsJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataAsJson" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetDataAsJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataAsJsonResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetTotalNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNodes" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetTotalNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetTotalNodesWithType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNodesWithType" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetTotalNodesWithType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNodesWithTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetNormasLegales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNormasLegales" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetNormasLegales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNormasLegalesResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetFileIdByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileIdByName" />
  </wsdl:message>
  <wsdl:message name="ICMSManager_GetFileIdByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileIdByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ICMSManager">
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetFile" message="tns:ICMSManager_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetFileResponse" message="tns:ICMSManager_GetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileWithContentAndName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetFileWithContentAndName" message="tns:ICMSManager_GetFileWithContentAndName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetFileWithContentAndNameResponse" message="tns:ICMSManager_GetFileWithContentAndName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpacesByPath">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetSpacesByPath" message="tns:ICMSManager_GetSpacesByPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetSpacesByPathResponse" message="tns:ICMSManager_GetSpacesByPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesByPath">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetFilesByPath" message="tns:ICMSManager_GetFilesByPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetFilesByPathResponse" message="tns:ICMSManager_GetFilesByPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpacesByUUID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetSpacesByUUID" message="tns:ICMSManager_GetSpacesByUUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetSpacesByUUIDResponse" message="tns:ICMSManager_GetSpacesByUUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUUID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetFilesByUUID" message="tns:ICMSManager_GetFilesByUUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetFilesByUUIDResponse" message="tns:ICMSManager_GetFilesByUUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPathByUUID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetPathByUUID" message="tns:ICMSManager_GetPathByUUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetPathByUUIDResponse" message="tns:ICMSManager_GetPathByUUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPathByPath">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetPathByPath" message="tns:ICMSManager_GetPathByPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetPathByPathResponse" message="tns:ICMSManager_GetPathByPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByUUID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetDataByUUID" message="tns:ICMSManager_GetDataByUUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetDataByUUIDResponse" message="tns:ICMSManager_GetDataByUUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByPath">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetDataByPath" message="tns:ICMSManager_GetDataByPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetDataByPathResponse" message="tns:ICMSManager_GetDataByPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByPathWithType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetDataByPathWithType" message="tns:ICMSManager_GetDataByPathWithType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetDataByPathWithTypeResponse" message="tns:ICMSManager_GetDataByPathWithType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataWithMetadataByPath">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetDataWithMetadataByPath" message="tns:ICMSManager_GetDataWithMetadataByPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetDataWithMetadataByPathResponse" message="tns:ICMSManager_GetDataWithMetadataByPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataAsJson">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetDataAsJson" message="tns:ICMSManager_GetDataAsJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetDataAsJsonResponse" message="tns:ICMSManager_GetDataAsJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetTotalNodes" message="tns:ICMSManager_GetTotalNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetTotalNodesResponse" message="tns:ICMSManager_GetTotalNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalNodesWithType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetTotalNodesWithType" message="tns:ICMSManager_GetTotalNodesWithType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetTotalNodesWithTypeResponse" message="tns:ICMSManager_GetTotalNodesWithType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNormasLegales">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetNormasLegales" message="tns:ICMSManager_GetNormasLegales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetNormasLegalesResponse" message="tns:ICMSManager_GetNormasLegales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileIdByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSManager/GetFileIdByName" message="tns:ICMSManager_GetFileIdByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSManager/GetFileIdByNameResponse" message="tns:ICMSManager_GetFileIdByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICMSManager" type="tns:ICMSManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileWithContentAndName">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetFileWithContentAndName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpacesByPath">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetSpacesByPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByPath">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetFilesByPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpacesByUUID">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetSpacesByUUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUUID">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetFilesByUUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathByUUID">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetPathByUUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathByPath">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetPathByPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByUUID">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetDataByUUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByPath">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetDataByPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByPathWithType">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetDataByPathWithType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataWithMetadataByPath">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetDataWithMetadataByPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAsJson">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetDataAsJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalNodes">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetTotalNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalNodesWithType">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetTotalNodesWithType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNormasLegales">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetNormasLegales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileIdByName">
      <soap:operation soapAction="http://tempuri.org/ICMSManager/GetFileIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMSManager">
    <wsdl:port name="BasicHttpBinding_ICMSManager" binding="tns:BasicHttpBinding_ICMSManager">
      <soap:address location="http://sicoes.coes.org.pe:8081/wsxcms/wsGC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>