COES.MVC.Extranet/Service References/srGestor/wsGC3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wsGC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wsGC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAsStreamByte" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:complexType name="ArrayOfEspacio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Espacio" nillable="true" type="tns:Espacio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspacio" nillable="true" type="tns:ArrayOfEspacio" />
  <xs:complexType name="Espacio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispositivoLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPublicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Espacio" nillable="true" type="tns:Espacio" />
</xs:schema>