COES.MVC.Extranet/Service References/ServicioCloud/ServicioCloud.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.coes.com.pe" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.coes.com.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.coes.com.pe/Imports">
      <xsd:import schemaLocation="http://www.coes.org.pe/Pr21App/servicios/ServicioCloud.svc?xsd=xsd0" namespace="www.coes.com.pe" />
      <xsd:import schemaLocation="http://www.coes.org.pe/Pr21App/servicios/ServicioCloud.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.coes.org.pe/Pr21App/servicios/ServicioCloud.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://www.coes.org.pe/Pr21App/servicios/ServicioCloud.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCloud_VerificarEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarEnvio" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_VerificarEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_DescargarEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:DescargarEnvio" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_DescargarEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescargarEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosAnalisis_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosAnalisis" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosAnalisis_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosAnalisisResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerRangoSegundos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRangoSegundos" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerRangoSegundos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRangoSegundosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosFallas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosFallas" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosFallas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosFallasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerPotenciasMaximas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPotenciasMaximas" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerPotenciasMaximas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPotenciasMaximasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ConsultaEnvioDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEnvioDatos" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ConsultaEnvioDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEnvioDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerReporteEndio_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporteEndio" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerReporteEndio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporteEndioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerPuntosCargaron_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPuntosCargaron" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerPuntosCargaron_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPuntosCargaronResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_DescargarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:DescargarDatos" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_DescargarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescargarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosComparacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosComparacion" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosComparacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosComparacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosComparacionRango_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosComparacionRango" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosComparacionRango_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosComparacionRangoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosComparacionRangoResolucion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosComparacionRangoResolucion" />
  </wsdl:message>
  <wsdl:message name="IServicioCloud_ObtenerDatosComparacionRangoResolucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosComparacionRangoResolucionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCloud">
    <wsdl:operation name="VerificarEnvio">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/VerificarEnvio" message="tns:IServicioCloud_VerificarEnvio_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/VerificarEnvioResponse" message="tns:IServicioCloud_VerificarEnvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DescargarEnvio">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/DescargarEnvio" message="tns:IServicioCloud_DescargarEnvio_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/DescargarEnvioResponse" message="tns:IServicioCloud_DescargarEnvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAnalisis">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosAnalisis" message="tns:IServicioCloud_ObtenerDatosAnalisis_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosAnalisisResponse" message="tns:IServicioCloud_ObtenerDatosAnalisis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRangoSegundos">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerRangoSegundos" message="tns:IServicioCloud_ObtenerRangoSegundos_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerRangoSegundosResponse" message="tns:IServicioCloud_ObtenerRangoSegundos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosFallas">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosFallas" message="tns:IServicioCloud_ObtenerDatosFallas_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosFallasResponse" message="tns:IServicioCloud_ObtenerDatosFallas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPotenciasMaximas">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerPotenciasMaximas" message="tns:IServicioCloud_ObtenerPotenciasMaximas_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerPotenciasMaximasResponse" message="tns:IServicioCloud_ObtenerPotenciasMaximas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEnvioDatos">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ConsultaEnvioDatos" message="tns:IServicioCloud_ConsultaEnvioDatos_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ConsultaEnvioDatosResponse" message="tns:IServicioCloud_ConsultaEnvioDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporteEndio">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerReporteEndio" message="tns:IServicioCloud_ObtenerReporteEndio_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerReporteEndioResponse" message="tns:IServicioCloud_ObtenerReporteEndio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPuntosCargaron">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerPuntosCargaron" message="tns:IServicioCloud_ObtenerPuntosCargaron_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerPuntosCargaronResponse" message="tns:IServicioCloud_ObtenerPuntosCargaron_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DescargarDatos">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/DescargarDatos" message="tns:IServicioCloud_DescargarDatos_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/DescargarDatosResponse" message="tns:IServicioCloud_DescargarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosComparacion">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosComparacion" message="tns:IServicioCloud_ObtenerDatosComparacion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosComparacionResponse" message="tns:IServicioCloud_ObtenerDatosComparacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosComparacionRango">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosComparacionRango" message="tns:IServicioCloud_ObtenerDatosComparacionRango_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosComparacionRangoResponse" message="tns:IServicioCloud_ObtenerDatosComparacionRango_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosComparacionRangoResolucion">
      <wsdl:input wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosComparacionRangoResolucion" message="tns:IServicioCloud_ObtenerDatosComparacionRangoResolucion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/IServicioCloud/ObtenerDatosComparacionRangoResolucionResponse" message="tns:IServicioCloud_ObtenerDatosComparacionRangoResolucion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>