COES.MVC.Extranet/Service References/ServicioCloud/ServicioCloud1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.coes.com.pe" elementFormDefault="qualified" targetNamespace="www.coes.com.pe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.coes.org.pe/Pr21App/servicios/ServicioCloud.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://www.coes.org.pe/Pr21App/servicios/ServicioCloud.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" />
  <xs:element name="VerificarEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ptosMedicion" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="VerificarEnvioResult" nillable="true" type="q2:ArrayOfResultadoVerificacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ptosMedicion" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="DescargarEnvioResult" nillable="true" type="q4:ArrayOfMedicion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosAnalisis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ajuste" type="xs:decimal" />
        <xs:element minOccurs="0" name="intentos" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="nroDatos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosAnalisisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="ObtenerDatosAnalisisResult" nillable="true" type="q5:ArrayOfRegistroRPF" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idsCargaron" nillable="true" type="q6:ArrayOfint" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="noEncontrados" nillable="true" type="q7:ArrayOfint" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="potenciaCero" nillable="true" type="q8:ArrayOfint" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="frecuenciaCero" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRangoSegundos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ajuste" type="xs:decimal" />
        <xs:element minOccurs="0" name="intentos" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="nroDatos" type="xs:int" />
        <xs:element minOccurs="0" name="fmaxgen" type="xs:decimal" />
        <xs:element minOccurs="0" name="fmingen" type="xs:decimal" />
        <xs:element minOccurs="0" name="flimmax" type="xs:decimal" />
        <xs:element minOccurs="0" name="flimmin" type="xs:decimal" />
        <xs:element minOccurs="0" name="balance" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRangoSegundosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="ObtenerRangoSegundosResult" nillable="true" type="q10:ArrayOfRegistroRPF" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idsCargaron" nillable="true" type="q11:ArrayOfint" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="noEncontrados" nillable="true" type="q12:ArrayOfint" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="potenciaCero" nillable="true" type="q13:ArrayOfint" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="frecuenciaCero" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosFallas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosFallasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="ObtenerDatosFallasResult" nillable="true" type="q15:ArrayOfRegistroRPF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPotenciasMaximas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPotenciasMaximasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="ObtenerPotenciasMaximasResult" nillable="true" type="q16:ArrayOfRegistroRPF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEnvioDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="frecuencias" nillable="true" type="q17:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="porcentaje" type="xs:decimal" />
        <xs:element minOccurs="0" name="potencia" type="xs:decimal" />
        <xs:element minOccurs="0" name="valorPercentil" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEnvioDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaEnvioDatosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteEndio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteEndioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="ObtenerReporteEndioResult" nillable="true" type="q18:ArrayOfReporteEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPuntosCargaron">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPuntosCargaronResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerPuntosCargaronResult" nillable="true" type="q19:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
        <xs:element minOccurs="0" name="ptomedicodi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DescargarDatosResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosComparacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaConsulta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ptomedicodi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosComparacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="ObtenerDatosComparacionResult" nillable="true" type="q21:ArrayOfMedicion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosComparacionRango">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaConsulta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ptomedicodi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosComparacionRangoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="ObtenerDatosComparacionRangoResult" nillable="true" type="q22:ArrayOfMedicion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosComparacionRangoResolucion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaConsulta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ptomedicodi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolucion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosComparacionRangoResolucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" minOccurs="0" name="ObtenerDatosComparacionRangoResolucionResult" nillable="true" type="q23:ArrayOfMedicion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>