COES.MVC.Extranet/Service References/ServicioCloud/ServicioCloud3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Extranet.Cloud.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResultadoVerificacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoVerificacion" nillable="true" type="tns:ResultadoVerificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoVerificacion" nillable="true" type="tns:ArrayOfResultadoVerificacion" />
  <xs:complexType name="ResultadoVerificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoInformacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoOperativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCarga" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndicadorConsistencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorEnvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PtoMediCodi" type="xs:int" />
      <xs:element minOccurs="0" name="ValorConsistencia" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoVerificacion" nillable="true" type="tns:ResultadoVerificacion" />
  <xs:complexType name="ArrayOfMedicion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medicion" nillable="true" type="tns:Medicion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicion" nillable="true" type="tns:ArrayOfMedicion" />
  <xs:complexType name="Medicion">
    <xs:sequence>
      <xs:element minOccurs="0" name="FECHAHORA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="H0" type="xs:decimal" />
      <xs:element minOccurs="0" name="H1" type="xs:decimal" />
      <xs:element minOccurs="0" name="H10" type="xs:decimal" />
      <xs:element minOccurs="0" name="H11" type="xs:decimal" />
      <xs:element minOccurs="0" name="H12" type="xs:decimal" />
      <xs:element minOccurs="0" name="H13" type="xs:decimal" />
      <xs:element minOccurs="0" name="H14" type="xs:decimal" />
      <xs:element minOccurs="0" name="H15" type="xs:decimal" />
      <xs:element minOccurs="0" name="H16" type="xs:decimal" />
      <xs:element minOccurs="0" name="H17" type="xs:decimal" />
      <xs:element minOccurs="0" name="H18" type="xs:decimal" />
      <xs:element minOccurs="0" name="H19" type="xs:decimal" />
      <xs:element minOccurs="0" name="H2" type="xs:decimal" />
      <xs:element minOccurs="0" name="H20" type="xs:decimal" />
      <xs:element minOccurs="0" name="H21" type="xs:decimal" />
      <xs:element minOccurs="0" name="H22" type="xs:decimal" />
      <xs:element minOccurs="0" name="H23" type="xs:decimal" />
      <xs:element minOccurs="0" name="H24" type="xs:decimal" />
      <xs:element minOccurs="0" name="H25" type="xs:decimal" />
      <xs:element minOccurs="0" name="H26" type="xs:decimal" />
      <xs:element minOccurs="0" name="H27" type="xs:decimal" />
      <xs:element minOccurs="0" name="H28" type="xs:decimal" />
      <xs:element minOccurs="0" name="H29" type="xs:decimal" />
      <xs:element minOccurs="0" name="H3" type="xs:decimal" />
      <xs:element minOccurs="0" name="H30" type="xs:decimal" />
      <xs:element minOccurs="0" name="H31" type="xs:decimal" />
      <xs:element minOccurs="0" name="H32" type="xs:decimal" />
      <xs:element minOccurs="0" name="H33" type="xs:decimal" />
      <xs:element minOccurs="0" name="H34" type="xs:decimal" />
      <xs:element minOccurs="0" name="H35" type="xs:decimal" />
      <xs:element minOccurs="0" name="H36" type="xs:decimal" />
      <xs:element minOccurs="0" name="H37" type="xs:decimal" />
      <xs:element minOccurs="0" name="H38" type="xs:decimal" />
      <xs:element minOccurs="0" name="H39" type="xs:decimal" />
      <xs:element minOccurs="0" name="H4" type="xs:decimal" />
      <xs:element minOccurs="0" name="H40" type="xs:decimal" />
      <xs:element minOccurs="0" name="H41" type="xs:decimal" />
      <xs:element minOccurs="0" name="H42" type="xs:decimal" />
      <xs:element minOccurs="0" name="H43" type="xs:decimal" />
      <xs:element minOccurs="0" name="H44" type="xs:decimal" />
      <xs:element minOccurs="0" name="H45" type="xs:decimal" />
      <xs:element minOccurs="0" name="H46" type="xs:decimal" />
      <xs:element minOccurs="0" name="H47" type="xs:decimal" />
      <xs:element minOccurs="0" name="H48" type="xs:decimal" />
      <xs:element minOccurs="0" name="H49" type="xs:decimal" />
      <xs:element minOccurs="0" name="H5" type="xs:decimal" />
      <xs:element minOccurs="0" name="H50" type="xs:decimal" />
      <xs:element minOccurs="0" name="H51" type="xs:decimal" />
      <xs:element minOccurs="0" name="H52" type="xs:decimal" />
      <xs:element minOccurs="0" name="H53" type="xs:decimal" />
      <xs:element minOccurs="0" name="H54" type="xs:decimal" />
      <xs:element minOccurs="0" name="H55" type="xs:decimal" />
      <xs:element minOccurs="0" name="H56" type="xs:decimal" />
      <xs:element minOccurs="0" name="H57" type="xs:decimal" />
      <xs:element minOccurs="0" name="H58" type="xs:decimal" />
      <xs:element minOccurs="0" name="H59" type="xs:decimal" />
      <xs:element minOccurs="0" name="H6" type="xs:decimal" />
      <xs:element minOccurs="0" name="H7" type="xs:decimal" />
      <xs:element minOccurs="0" name="H8" type="xs:decimal" />
      <xs:element minOccurs="0" name="H9" type="xs:decimal" />
      <xs:element minOccurs="0" name="PTOMEDICODI" type="xs:int" />
      <xs:element minOccurs="0" name="TIPOINFOCODI" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medicion" nillable="true" type="tns:Medicion" />
  <xs:complexType name="ArrayOfRegistroRPF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistroRPF" nillable="true" type="tns:RegistroRPF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistroRPF" nillable="true" type="tns:ArrayOfRegistroRPF" />
  <xs:complexType name="RegistroRPF">
    <xs:sequence>
      <xs:element minOccurs="0" name="BALANCE" type="xs:decimal" />
      <xs:element minOccurs="0" name="CUMPLEFRECUENCIA" type="xs:boolean" />
      <xs:element minOccurs="0" name="CUMPLEPOTENCIA" type="xs:boolean" />
      <xs:element minOccurs="0" name="DIFERENCIA" type="xs:decimal" />
      <xs:element minOccurs="0" name="FECHAHORA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FRECUENCIA" type="xs:decimal" />
      <xs:element minOccurs="0" name="HORAFIN" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HORAINICIO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="INDICADORPOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRODATOS" type="xs:decimal" />
      <xs:element minOccurs="0" name="POTENCIA" type="xs:decimal" />
      <xs:element minOccurs="0" name="PTOMEDICODI" type="xs:int" />
      <xs:element minOccurs="0" name="SEGUNDO" type="xs:int" />
      <xs:element minOccurs="0" name="TIPOINFOCODI" type="xs:int" />
      <xs:element minOccurs="0" name="VALOR" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistroRPF" nillable="true" type="tns:RegistroRPF" />
  <xs:complexType name="ArrayOfReporteEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteEnvio" nillable="true" type="tns:ReporteEnvio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteEnvio" nillable="true" type="tns:ArrayOfReporteEnvio" />
  <xs:complexType name="ReporteEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoInformacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoOperativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCarga" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndConsistencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PtoMediCodi" type="xs:int" />
      <xs:element minOccurs="0" name="ValConsistencia" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteEnvio" nillable="true" type="tns:ReporteEnvio" />
</xs:schema>