COES.MVC.Intranet/Service References/DirectorioServicio/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarDirectorio">
        <s:complexType />
      </s:element>
      <s:element name="ListarDirectorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarDirectorioResult" type="tns:ArrayOfDirectorio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDirectorio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Directorio" nillable="true" type="tns:Directorio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Directorio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdDirectorio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DesApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesAnexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesAnexoAlt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndAnexoAlt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesTelefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesCumpleano" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdArea" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DesFoto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesFuncion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesArea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Maquina" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndExtranet" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarAreas">
        <s:complexType />
      </s:element>
      <s:element name="ListarAreasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarAreasResult" type="tns:ArrayOfArea" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArea">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Area" nillable="true" type="tns:Area" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Area">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdArea" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DesArea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesJefe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesCorreo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DesNombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerDirectorioPorArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idArea" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDirectorioPorAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDirectorioPorAreaResult" type="tns:ArrayOfDirectorio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarAnexoDirectorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDirectorio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="anexo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indicador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indExtranet" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarAnexoDirectorioResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarDirectorioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarDirectorio" />
  </wsdl:message>
  <wsdl:message name="ListarDirectorioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarDirectorioResponse" />
  </wsdl:message>
  <wsdl:message name="ListarAreasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarAreas" />
  </wsdl:message>
  <wsdl:message name="ListarAreasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarAreasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDirectorioPorAreaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDirectorioPorArea" />
  </wsdl:message>
  <wsdl:message name="ObtenerDirectorioPorAreaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDirectorioPorAreaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarAnexoDirectorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarAnexoDirectorio" />
  </wsdl:message>
  <wsdl:message name="ActualizarAnexoDirectorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarAnexoDirectorioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioSoap">
    <wsdl:operation name="ListarDirectorio">
      <wsdl:input message="tns:ListarDirectorioSoapIn" />
      <wsdl:output message="tns:ListarDirectorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarAreas">
      <wsdl:input message="tns:ListarAreasSoapIn" />
      <wsdl:output message="tns:ListarAreasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDirectorioPorArea">
      <wsdl:input message="tns:ObtenerDirectorioPorAreaSoapIn" />
      <wsdl:output message="tns:ObtenerDirectorioPorAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarAnexoDirectorio">
      <wsdl:input message="tns:ActualizarAnexoDirectorioSoapIn" />
      <wsdl:output message="tns:ActualizarAnexoDirectorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioSoap" type="tns:ServicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarDirectorio">
      <soap:operation soapAction="http://tempuri.org/ListarDirectorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAreas">
      <soap:operation soapAction="http://tempuri.org/ListarAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDirectorioPorArea">
      <soap:operation soapAction="http://tempuri.org/ObtenerDirectorioPorArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAnexoDirectorio">
      <soap:operation soapAction="http://tempuri.org/ActualizarAnexoDirectorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioSoap12" type="tns:ServicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarDirectorio">
      <soap12:operation soapAction="http://tempuri.org/ListarDirectorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAreas">
      <soap12:operation soapAction="http://tempuri.org/ListarAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDirectorioPorArea">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDirectorioPorArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAnexoDirectorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizarAnexoDirectorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="ServicioSoap" binding="tns:ServicioSoap">
      <soap:address location="http://www.coes.org.pe/encuestasd/Servicio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioSoap12" binding="tns:ServicioSoap12">
      <soap12:address location="http://www.coes.org.pe/encuestasd/Servicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>