COES.Servicios.Distribuidos/Connected Services/SeguridadServicio/SeguridadServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.coes.com.pe" elementFormDefault="qualified" targetNamespace="www.coes.com.pe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://appserver.coes.org.pe/WsSeguridad/SeguridadServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" />
  <xs:import schemaLocation="http://appserver.coes.org.pe/WsSeguridad/SeguridadServicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GrabarPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q1:PermissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarPermisoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPermisoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerPermisoResult" nillable="true" type="q2:PermissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarPermisosResult" nillable="true" type="q3:ArrayOfPermissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarWebApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q4:WebAppDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarWebAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarWebAppResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarWebApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarWebAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarWebAppResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerWebApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerWebAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerWebAppResult" nillable="true" type="q5:WebAppDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarWebApps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarWebAppsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarWebAppsResult" nillable="true" type="q6:ArrayOfWebAppDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q7:RolDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarRolResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerRolResult" nillable="true" type="q8:RolDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="BuscarRolesResult" nillable="true" type="q9:ArrayOfRolDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarRolesResult" nillable="true" type="q10:ArrayOfRolDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOpcionesPorRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOpcionesPorRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListaOpcionesPorRolResult" nillable="true" type="q11:ArrayOfRolOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerRolPorUsuarioResult" nillable="true" type="q12:ArrayOfRolDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolesPorOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOpcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolesPorOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerRolesPorOpcionResult" nillable="true" type="q13:ArrayOfRolDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAreas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarAreasResult" nillable="true" type="q14:ArrayOfAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q15:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerUsuarioResult" nillable="true" type="q16:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="areaCodi" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="BuscarUsuariosResult" nillable="true" type="q17:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarUsuariosResult" nillable="true" type="q18:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutentificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutentificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="AutentificarUsuarioResult" nillable="true" type="q19:UserDTO" />
        <xs:element minOccurs="0" name="resultado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarClaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarExistencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarExistenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarExistenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
        <xs:element minOccurs="0" name="lastUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarClaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarClaveUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveActual" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveNueva" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarClaveUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarClaveUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarDeBajaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
        <xs:element minOccurs="0" name="lastUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DarDeBajaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DarDeBajaUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuariosPorRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuariosPorRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerUsuariosPorRolResult" nillable="true" type="q20:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutentificarUsuarioAD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutentificarUsuarioADResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="AutentificarUsuarioADResult" nillable="true" type="q21:UserDTO" />
        <xs:element minOccurs="0" name="resultado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerUsuarioPorLoginResult" nillable="true" type="q22:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosExtranet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idModulo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarUsuariosExtranetResult" nillable="true" type="q23:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosPorEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosPorEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarUsuariosPorEmpresaResult" nillable="true" type="q24:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioExtranet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q25:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUsuarioExtranetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosRepresentantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosRepresentantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarUsuariosRepresentantesResult" nillable="true" type="q26:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPassword">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionRepresentante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q27:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionRepresentanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q28:UserDTO" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="modulos" nillable="true" type="q29:ArrayOfModuloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionModificacionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="usuario" nillable="true" type="q30:UserDTO" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="modulos" nillable="true" type="q31:ArrayOfModuloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionModificacionUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionBajaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionBajaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisosDeUsuariosPorOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisosDeUsuariosPorOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarPermisosDeUsuariosPorOpcionResult" nillable="true" type="q32:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q33:OptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarOpcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarOpcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerOpcionResult" nillable="true" type="q34:OptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionPorSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSistema" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionPorSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerOpcionPorSistemaResult" nillable="true" type="q35:ArrayOfOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSistema" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerOpcionPorUsuarioResult" nillable="true" type="q36:ArrayOfOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionPorPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPadre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionPorPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerOpcionPorPadreResult" nillable="true" type="q37:ArrayOfOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarNodoOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opcionId" type="xs:int" />
        <xs:element minOccurs="0" name="padreId" type="xs:int" />
        <xs:element minOccurs="0" name="nroOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarNodoOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarNodoOpcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNroItemPorPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPadre" type="xs:int" />
        <xs:element minOccurs="0" name="idApp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNroItemPorPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNroItemPorPadreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOpcionesNodoSeleccionado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSistema" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOpcionesNodoSeleccionadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarOpcionesNodoSeleccionadoResult" nillable="true" type="q38:ArrayOfOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionesPorAplicacionRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idApp" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionesPorAplicacionRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerOpcionesPorAplicacionRolResult" nillable="true" type="q39:ArrayOfOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNodosPorRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSistema" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNodosPorRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNodosPorRolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerarAreas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerarAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerarAreasResult" nillable="true" type="q40:ArrayOfAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAreasCOES">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAreasCOESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerAreasCOESResult" nillable="true" type="q41:ArrayOfAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarEmpresasResult" nillable="true" type="q42:ArrayOfEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerEmpresaResult" nillable="true" type="q43:EmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarAccesoOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controler" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarAccesoOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarAccesoOpcionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPermisoOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
        <xs:element minOccurs="0" name="idOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="idPermiso" type="xs:int" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPermisoOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarPermisoOpcionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPermisosPorOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOpcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPermisosPorOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerPermisosPorOpcionResult" nillable="true" type="q44:ArrayOfPermissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPersmisosRolOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idOpcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPersmisosRolOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerPersmisosRolOpcionResult" nillable="true" type="q45:ArrayOfPermissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncriptarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncriptarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncriptarUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesencriptarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesencriptarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesencriptarUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarEstadistica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="optionCode" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarEstadisticaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadisticaPorOpcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadisticaPorOpcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerEstadisticaPorOpcionResult" nillable="true" type="q46:ArrayOfLogOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadisticaPorSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWebApp" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadisticaPorSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerEstadisticaPorSistemaResult" nillable="true" type="q47:ArrayOfLogOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresasPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresasPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerEmpresasPorUsuarioResult" nillable="true" type="q48:ArrayOfEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPermisosPorOpcionPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
        <xs:element minOccurs="0" name="optionCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPermisosPorOpcionPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerPermisosPorOpcionPorUsuarioResult" nillable="true" type="q49:ArrayOfPermissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionPorUsuarioFavorito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSistema" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionPorUsuarioFavoritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerOpcionPorUsuarioFavoritoResult" nillable="true" type="q50:ArrayOfOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarAccesoDirecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idOpciones" nillable="true" type="q51:ArrayOfint" />
        <xs:element minOccurs="0" name="idSistema" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarAccesoDirectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarAccesoDirectoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAccesoDirecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSistema" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAccesoDirectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarAccesoDirectoResult" nillable="true" type="q52:ArrayOfOptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModulo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerModuloResult" nillable="true" type="q53:ModuloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarModulos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarModulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarModulosResult" nillable="true" type="q54:ArrayOfModuloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarModulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q55:ModuloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarModuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarModuloResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarModulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModulo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarModuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarModuloResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarSolicitudUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q56:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarSolicitudUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarSolicitudUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerSolicitudPorUsuarioResult" nillable="true" type="q57:ArrayOfSolicitudDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitudModulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idsModulos" nillable="true" type="q58:ArrayOfint" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitudModuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarRecordatorioSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModulo" type="xs:int" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarRecordatorioSolicitudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
        <xs:element minOccurs="0" name="lastUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AprobarUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModulosPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModulosPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerModulosPorUsuarioResult" nillable="true" type="q59:ArrayOfSolicitudDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarSolicitudModulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
        <xs:element minOccurs="0" name="idModulo" type="xs:int" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarSolicitudModuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpresasUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" type="xs:int" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="listEmpresas" nillable="true" type="q60:ArrayOfEmpresaDTO" />
        <xs:element minOccurs="0" name="lastuser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpresasUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarUsuarioSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="modulos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarUsuarioSolicitudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModulosPorUsuarioSelecion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModulosPorUsuarioSelecionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerModulosPorUsuarioSelecionResult" nillable="true" type="q61:ArrayOfModuloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolesPorDefectoExtranet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRolesPorDefectoExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerRolesPorDefectoExtranetResult" nillable="true" type="q62:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarModuloPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modulos" nillable="true" type="q63:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarModuloPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioRepLegales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoEmpresa" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioRepLegalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerUsuarioRepLegalesResult" nillable="true" type="q64:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicituExtranet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicituExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarSolicituExtranetResult" nillable="true" type="q65:ArrayOfSolicitudExtDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarSolicitudExtranet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q66:SolicitudExtDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarSolicitudExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarSolicitudExtranetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarSolicitudExtranet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="lastUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarSolicitudExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AprobarSolicitudExtranetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudExtranet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerSolicitudExtranetResult" nillable="true" type="q67:SolicitudExtDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarioSolicitudBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarioSolicitudBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ListarUsuarioSolicitudBajaResult" nillable="true" type="q68:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleSolicitudExtranet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleSolicitudExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerDetalleSolicitudExtranetResult" nillable="true" type="q69:SolicitudExtDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionSolicitudExtranet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionSolicitudExtranetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarPasswordNuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="lastUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarPasswordNuevoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="entity" nillable="true" type="q70:LogAppDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="optionCode" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="modCodi" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tipoLog" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ConsultarLogResult" nillable="true" type="q71:ArrayOfLogAppDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emprcodi" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="userState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerReporteUsuarioResult" nillable="true" type="q72:ArrayOfReporteUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleReporteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emprcodi" type="xs:int" />
        <xs:element minOccurs="0" name="userState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleReporteUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerDetalleReporteUsuarioResult" nillable="true" type="q73:ArrayOfReporteUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emprcodi" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="modcodi" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerReporteSolicitudResult" nillable="true" type="q74:ArrayOfReporteUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleReporteSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emprcodi" type="xs:int" />
        <xs:element minOccurs="0" name="modcodi" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleReporteSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerDetalleReporteSolicitudResult" nillable="true" type="q75:ArrayOfReporteUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresasActivasPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresasActivasPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerEmpresasActivasPorUsuarioResult" nillable="true" type="q76:ArrayOfEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTotalEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTotalEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" minOccurs="0" name="ObtenerTotalEmpresasResult" nillable="true" type="q77:ArrayOfEmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>