COES.MVC.Extranet/Service References/DirectorioServicio/ServicioAutentificacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/COES.Intranet.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/COES.Intranet.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://appserver.coes.org.pe/ServiciosGestionDocumental/ServicioAutentificacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/COES.Intranet.Base.Core" />
  <xs:complexType name="ArrayOfIntAreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IntAreaDTO" nillable="true" type="tns:IntAreaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIntAreaDTO" nillable="true" type="tns:ArrayOfIntAreaDTO" />
  <xs:complexType name="IntAreaDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/COES.Intranet.Base.Core" base="q1:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Areaabrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areacodi" type="xs:int" />
          <xs:element minOccurs="0" name="Areacolor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areacorreo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areadescripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areaestado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areafeccreacion" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Areafecmodificacion" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Areanomb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areaorganigrama" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areapadre" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Arearesponsable" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areausucreacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areausumodificacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntAreaDTO" nillable="true" type="tns:IntAreaDTO" />
  <xs:complexType name="ArrayOfIntDirectorioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IntDirectorioDTO" nillable="true" type="tns:IntDirectorioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIntDirectorioDTO" nillable="true" type="tns:ArrayOfIntDirectorioDTO" />
  <xs:complexType name="IntDirectorioDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/COES.Intranet.Base.Core" base="q2:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Areaabrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Areacodi" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Areanomb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiaCumpleanios" type="xs:int" />
          <xs:element minOccurs="0" name="Diranexo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirapellido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirapoyo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dircargo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dircodi" type="xs:int" />
          <xs:element minOccurs="0" name="Dircorreo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dircumpleanios" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Direstado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirfeccreacion" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Dirfecmodificacion" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Dirfoto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirfuncion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirindsuperior" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirnivel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Dirnombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirorganigrama" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirpadre" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Dirsecretaria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirsuperiores" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirtelefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirusucreacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dirusumodificacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaCumpleanios" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="IndSeleccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MesCumpleanios" type="xs:int" />
          <xs:element minOccurs="0" name="Nombrearchivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Patharchivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usercode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntDirectorioDTO" nillable="true" type="tns:IntDirectorioDTO" />
</xs:schema>