COES.MVC.Extranet/Service References/DirectorioServicio/ServicioAutentificacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://appserver.coes.org.pe/ServiciosGestionDocumental/ServicioAutentificacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COES.Intranet.Dominio" />
  <xs:element name="ValidarUsuarioCOES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioCOESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarUsuarioCOESResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAreasExtranet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAreasExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/COES.Intranet.Dominio" minOccurs="0" name="ObtenerAreasExtranetResult" nillable="true" type="q1:ArrayOfIntAreaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDirectorioExtranet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDirectorioExtranetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/COES.Intranet.Dominio" minOccurs="0" name="ObtenerDirectorioExtranetResult" nillable="true" type="q2:ArrayOfIntDirectorioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>