COES.MVC.Extranet/Service References/DirectorioServicio/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://appserver.coes.org.pe/ServiciosGestionDocumental/ServicioAutentificacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://appserver.coes.org.pe/ServiciosGestionDocumental/ServicioAutentificacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://appserver.coes.org.pe/ServiciosGestionDocumental/ServicioAutentificacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COES.Intranet.Dominio" />
      <xsd:import schemaLocation="http://appserver.coes.org.pe/ServiciosGestionDocumental/ServicioAutentificacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/COES.Intranet.Base.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_ValidarUsuarioCOES_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioCOES" />
  </wsdl:message>
  <wsdl:message name="IServicio_ValidarUsuarioCOES_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioCOESResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerAreasExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasExtranet" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerAreasExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasExtranetResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerDirectorioExtranet_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDirectorioExtranet" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerDirectorioExtranet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDirectorioExtranetResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="ValidarUsuarioCOES">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ValidarUsuarioCOES" message="tns:IServicio_ValidarUsuarioCOES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ValidarUsuarioCOESResponse" message="tns:IServicio_ValidarUsuarioCOES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasExtranet">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerAreasExtranet" message="tns:IServicio_ObtenerAreasExtranet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerAreasExtranetResponse" message="tns:IServicio_ObtenerAreasExtranet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDirectorioExtranet">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerDirectorioExtranet" message="tns:IServicio_ObtenerDirectorioExtranet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerDirectorioExtranetResponse" message="tns:IServicio_ObtenerDirectorioExtranet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicio" type="tns:IServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuarioCOES">
      <soap:operation soapAction="http://tempuri.org/IServicio/ValidarUsuarioCOES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasExtranet">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerAreasExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDirectorioExtranet">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerDirectorioExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="BasicHttpBinding_IServicio" binding="tns:BasicHttpBinding_IServicio">
      <soap:address location="http://appserver.coes.org.pe/ServiciosGestionDocumental/ServicioAutentificacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>