COES.WebService.Proceso/Connected Services/SeguridadServicio/SeguridadServicio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://preprodcloud.coes.org.pe/wsSeguridad/SeguridadServicio.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaAbrev" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaCode" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="AreaLaboral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaOrder" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmprCodi" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="EmpresaNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndRelacion" type="xs:int" />
      <xs:element minOccurs="0" name="LastDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaEmpresas" nillable="true" type="tns:ArrayOfEmpresaDTO" />
      <xs:element minOccurs="0" name="ListaRoles" nillable="true" type="tns:ArrayOfRolDTO" />
      <xs:element minOccurs="0" name="Modulos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode" type="xs:int" />
      <xs:element minOccurs="0" name="PermiCode" type="xs:int" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCheck" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserCode" type="xs:short" />
      <xs:element minOccurs="0" name="UserConn" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserFActivacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserFBaja" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserFCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserIndReprLeg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserMaxConn" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="UserPass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserSolicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTlf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserUCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserValidate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Useractivacion" type="xs:int" />
      <xs:element minOccurs="0" name="Usermovil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsernName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfEmpresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresaDTO" nillable="true" type="tns:EmpresaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresaDTO" nillable="true" type="tns:ArrayOfEmpresaDTO" />
  <xs:complexType name="EmpresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMPRCODI" type="xs:short" />
      <xs:element minOccurs="0" name="EMPRNOMB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPRRAZSOCIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOEMPRCODI" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaDTO" nillable="true" type="tns:EmpresaDTO" />
  <xs:complexType name="ArrayOfRolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolDTO" nillable="true" type="tns:RolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolDTO" nillable="true" type="tns:ArrayOfRolDTO" />
  <xs:complexType name="RolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaOpcion" nillable="true" type="tns:ArrayOfRolOptionDTO" />
      <xs:element minOccurs="0" name="Nodos" nillable="true" type="tns:ArrayOfNodoSeleccionado" />
      <xs:element minOccurs="0" name="RolCheck" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RolCode" type="xs:short" />
      <xs:element minOccurs="0" name="RolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolValidate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Seleccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolDTO" nillable="true" type="tns:RolDTO" />
  <xs:complexType name="ArrayOfRolOptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolOptionDTO" nillable="true" type="tns:RolOptionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolOptionDTO" nillable="true" type="tns:ArrayOfRolOptionDTO" />
  <xs:complexType name="RolOptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaPermisos" nillable="true" type="tns:ArrayOfRolOptionPermissionDTO" />
      <xs:element minOccurs="0" name="OptionCode" type="xs:short" />
      <xs:element minOccurs="0" name="RolCode" type="xs:short" />
      <xs:element minOccurs="0" name="WebAppCode" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolOptionDTO" nillable="true" type="tns:RolOptionDTO" />
  <xs:complexType name="ArrayOfRolOptionPermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolOptionPermissionDTO" nillable="true" type="tns:RolOptionPermissionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolOptionPermissionDTO" nillable="true" type="tns:ArrayOfRolOptionPermissionDTO" />
  <xs:complexType name="RolOptionPermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode" type="xs:short" />
      <xs:element minOccurs="0" name="PermiCode" type="xs:short" />
      <xs:element minOccurs="0" name="RolCode" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolOptionPermissionDTO" nillable="true" type="tns:RolOptionPermissionDTO" />
  <xs:complexType name="ArrayOfNodoSeleccionado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodoSeleccionado" nillable="true" type="tns:NodoSeleccionado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodoSeleccionado" nillable="true" type="tns:ArrayOfNodoSeleccionado" />
  <xs:complexType name="NodoSeleccionado">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAplicacion" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IdPermisos" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Nodos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodoSeleccionado" nillable="true" type="tns:NodoSeleccionado" />
  <xs:complexType name="ArrayOfSolicitudExtDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudExtDTO" nillable="true" type="tns:SolicitudExtDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudExtDTO" nillable="true" type="tns:ArrayOfSolicitudExtDTO" />
  <xs:complexType name="SolicitudExtDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmprCodi" type="xs:short" />
      <xs:element minOccurs="0" name="EmprNomb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaUsuarios" nillable="true" type="tns:ArrayOfSolicitudDetalleDTO" />
      <xs:element minOccurs="0" name="SolicCodi" type="xs:short" />
      <xs:element minOccurs="0" name="SolicDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicFecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SolicTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCreate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudExtDTO" nillable="true" type="tns:SolicitudExtDTO" />
  <xs:complexType name="ArrayOfSolicitudDetalleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudDetalleDTO" nillable="true" type="tns:SolicitudDetalleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudDetalleDTO" nillable="true" type="tns:ArrayOfSolicitudDetalleDTO" />
  <xs:complexType name="SolicitudDetalleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListaModulos" nillable="true" type="tns:ArrayOfSolicitudModuloDTO" />
      <xs:element minOccurs="0" name="SolicCodi" type="xs:short" />
      <xs:element minOccurs="0" name="SolicDetCodi" type="xs:short" />
      <xs:element minOccurs="0" name="UserCode" type="xs:short" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTlf" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudDetalleDTO" nillable="true" type="tns:SolicitudDetalleDTO" />
  <xs:complexType name="ArrayOfSolicitudModuloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudModuloDTO" nillable="true" type="tns:SolicitudModuloDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudModuloDTO" nillable="true" type="tns:ArrayOfSolicitudModuloDTO" />
  <xs:complexType name="SolicitudModuloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModCodi" type="xs:short" />
      <xs:element minOccurs="0" name="SolicDetCodi" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudModuloDTO" nillable="true" type="tns:SolicitudModuloDTO" />
  <xs:complexType name="LogAppDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LogAppCodi" type="xs:short" />
      <xs:element minOccurs="0" name="LogDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogFecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogIndTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogPathFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModCodi" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="OptionCode" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="PermiCode" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogAppDTO" nillable="true" type="tns:LogAppDTO" />
  <xs:complexType name="ArrayOfLogAppDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogAppDTO" nillable="true" type="tns:LogAppDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogAppDTO" nillable="true" type="tns:ArrayOfLogAppDTO" />
  <xs:complexType name="ArrayOfReporteUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteUsuarioDTO" nillable="true" type="tns:ReporteUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteUsuarioDTO" nillable="true" type="tns:ArrayOfReporteUsuarioDTO" />
  <xs:complexType name="ReporteUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Emprcodi" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Emprnomb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modcodi" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Modnomb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Solicfecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Userlogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteUsuarioDTO" nillable="true" type="tns:ReporteUsuarioDTO" />
  <xs:complexType name="PermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PermiCodi" type="xs:short" />
      <xs:element minOccurs="0" name="PermiDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermiName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermiState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectOpcion" type="xs:int" />
      <xs:element minOccurs="0" name="SelectRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionDTO" nillable="true" type="tns:PermissionDTO" />
  <xs:complexType name="ArrayOfPermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionDTO" nillable="true" type="tns:PermissionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionDTO" nillable="true" type="tns:ArrayOfPermissionDTO" />
  <xs:complexType name="WebAppDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="WebAppCode" type="xs:short" />
      <xs:element minOccurs="0" name="WebAppDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebAppEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebAppName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebAppDTO" nillable="true" type="tns:WebAppDTO" />
  <xs:complexType name="ArrayOfWebAppDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebAppDTO" nillable="true" type="tns:WebAppDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebAppDTO" nillable="true" type="tns:ArrayOfWebAppDTO" />
  <xs:complexType name="ArrayOfAreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AreaDTO" nillable="true" type="tns:AreaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAreaDTO" nillable="true" type="tns:ArrayOfAreaDTO" />
  <xs:complexType name="AreaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaAbrev" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaCode" type="xs:short" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaOrder" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="CompCode" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyAbrev" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreaDTO" nillable="true" type="tns:AreaDTO" />
  <xs:complexType name="ArrayOfModuloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuloDTO" nillable="true" type="tns:ModuloDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuloDTO" nillable="true" type="tns:ArrayOfModuloDTO" />
  <xs:complexType name="ModuloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FuenteRepositorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inddefecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaAdministradores" nillable="true" type="tns:ArrayOfAdminModuloDTO" />
      <xs:element minOccurs="0" name="ModCodi" type="xs:short" />
      <xs:element minOccurs="0" name="ModEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolCode" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="RolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected" type="xs:int" />
      <xs:element minOccurs="0" name="UserManual" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuloDTO" nillable="true" type="tns:ModuloDTO" />
  <xs:complexType name="ArrayOfAdminModuloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminModuloDTO" nillable="true" type="tns:AdminModuloDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminModuloDTO" nillable="true" type="tns:ArrayOfAdminModuloDTO" />
  <xs:complexType name="AdminModuloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModCodi" type="xs:short" />
      <xs:element minOccurs="0" name="ModName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCode" type="xs:short" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminModuloDTO" nillable="true" type="tns:AdminModuloDTO" />
  <xs:complexType name="OptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BandejaCode" type="xs:int" />
      <xs:element minOccurs="0" name="DesAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesController" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesRecordatorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesShortCut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Favorito" type="xs:int" />
      <xs:element minOccurs="0" name="IndAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModCodi" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="NodeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroItemNivel" type="xs:int" />
      <xs:element minOccurs="0" name="NroNivel" type="xs:int" />
      <xs:element minOccurs="0" name="NroOrden" type="xs:int" />
      <xs:element minOccurs="0" name="OptionCode" type="xs:int" />
      <xs:element minOccurs="0" name="OptionDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PadreCodi" type="xs:int" />
      <xs:element minOccurs="0" name="Permisos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected" type="xs:int" />
      <xs:element minOccurs="0" name="WebAppCode" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionDTO" nillable="true" type="tns:OptionDTO" />
  <xs:complexType name="ArrayOfOptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionDTO" nillable="true" type="tns:OptionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionDTO" nillable="true" type="tns:ArrayOfOptionDTO" />
  <xs:complexType name="ArrayOfLogOptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogOptionDTO" nillable="true" type="tns:LogOptionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogOptionDTO" nillable="true" type="tns:ArrayOfLogOptionDTO" />
  <xs:complexType name="LogOptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogCodi" type="xs:int" />
      <xs:element minOccurs="0" name="OptionCode" type="xs:short" />
      <xs:element minOccurs="0" name="OptionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogOptionDTO" nillable="true" type="tns:LogOptionDTO" />
  <xs:complexType name="ArrayOfSolicitudDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudDTO" nillable="true" type="tns:SolicitudDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudDTO" nillable="true" type="tns:ArrayOfSolicitudDTO" />
  <xs:complexType name="SolicitudDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lastdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lastuser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModCodi" type="xs:short" />
      <xs:element minOccurs="0" name="ModNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permiso" type="xs:boolean" />
      <xs:element minOccurs="0" name="SolicEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicFecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserCode" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudDTO" nillable="true" type="tns:SolicitudDTO" />
</xs:schema>