COES.MVC.Intranet/Service References/ServiceReferenceCostosMarginales/CostoMarginalServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.coes.org.pe" elementFormDefault="qualified" targetNamespace="www.coes.org.pe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COES.Dominio.DTO.Transferencias" />
  <xs:import schemaLocation="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/COES.Servicios.Aplicacion.CortoPlazo.Helper" />
  <xs:import schemaLocation="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ListarCostosMarginales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="anio" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCostosMarginalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/COES.Dominio.DTO.Transferencias" minOccurs="0" name="ListarCostosMarginalesResult" nillable="true" type="q1:ArrayOfCostoMarginalDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarCostosMarginalesAlterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="indicadorPSSE" type="xs:int" />
        <xs:element minOccurs="0" name="reproceso" type="xs:boolean" />
        <xs:element minOccurs="0" name="indicadorNCP" type="xs:boolean" />
        <xs:element minOccurs="0" name="flagWeb" type="xs:boolean" />
        <xs:element minOccurs="0" name="rutaNCP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flagMD" type="xs:boolean" />
        <xs:element minOccurs="0" name="idEscenario" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoEstimador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarCostosMarginalesAlternoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarCostosMarginales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="indicadorPSSE" type="xs:int" />
        <xs:element minOccurs="0" name="reproceso" type="xs:boolean" />
        <xs:element minOccurs="0" name="indicadorNCP" type="xs:boolean" />
        <xs:element minOccurs="0" name="flagWeb" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarCostosMarginalesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidacionProcesoCostosMarginales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidacionProcesoCostosMarginalesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAlertasCostosMarginales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaProceso" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAlertasCostosMarginalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/COES.Servicios.Aplicacion.CortoPlazo.Helper" minOccurs="0" name="ObtenerAlertasCostosMarginalesResult" nillable="true" type="q2:ResultadoValidacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReprocesoMasivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="horas" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="flagMD" type="xs:boolean" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoEstimador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReprocesoMasivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EjecutarReprocesoMasivoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReprocesoMasivoModificado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datos" nillable="true" type="q4:ArrayOfArrayOfstring" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vesion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReprocesoMasivoModificadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EjecutarReprocesoMasivoModificadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReprocesoTIE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datos" nillable="true" type="q5:ArrayOfArrayOfstring" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="barra" type="xs:int" />
        <xs:element minOccurs="0" name="fechaProceso" type="xs:dateTime" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReprocesoTIEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EjecutarReprocesoTIEResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReprocesoVA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="horas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaProceso" type="xs:dateTime" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarReprocesoVAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EjecutarReprocesoVAResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>