COES.MVC.Intranet/Service References/ServiceReferenceCostosMarginales/CostoMarginalServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="www.coes.org.pe" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CostoMarginalServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="www.coes.org.pe" location="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ICostoMarginalServicio" type="i0:ICostoMarginalServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCostosMarginales">
      <soap:operation soapAction="www.coes.org.pe/ICostoMarginalServicio/ListarCostosMarginales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarCostosMarginalesAlterno">
      <soap:operation soapAction="www.coes.org.pe/ICostoMarginalServicio/EjecutarCostosMarginalesAlterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarCostosMarginales">
      <soap:operation soapAction="www.coes.org.pe/ICostoMarginalServicio/EjecutarCostosMarginales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidacionProcesoCostosMarginales">
      <soap:operation soapAction="www.coes.org.pe/ICostoMarginalServicio/ValidacionProcesoCostosMarginales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAlertasCostosMarginales">
      <soap:operation soapAction="www.coes.org.pe/ICostoMarginalServicio/ObtenerAlertasCostosMarginales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarReprocesoMasivo">
      <soap:operation soapAction="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoMasivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarReprocesoMasivoModificado">
      <soap:operation soapAction="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoMasivoModificado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarReprocesoTIE">
      <soap:operation soapAction="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoTIE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarReprocesoVA">
      <soap:operation soapAction="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoVA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CostoMarginalServicio">
    <wsdl:port name="BasicHttpBinding_ICostoMarginalServicio" binding="tns:BasicHttpBinding_ICostoMarginalServicio">
      <soap:address location="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>