COES.MVC.Intranet/Service References/ServiceReferenceCostosMarginales/CostoMarginalServicio4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/COES.Servicios.Aplicacion.CortoPlazo.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/COES.Servicios.Aplicacion.CortoPlazo.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoValidacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Indicador" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorComparativoRAW" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorEMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorGeneracionNegativa" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorMO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorMaximoCM" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorNCP" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorNegativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorPSSE" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorRSF" type="xs:boolean" />
      <xs:element minOccurs="0" name="ListaModosOperacion" nillable="true" type="tns:ArrayOfResultadoValidacionItem" />
      <xs:element minOccurs="0" name="ListaOperacionEMS" nillable="true" type="tns:ArrayOfResultadoValidacionItem" />
      <xs:element minOccurs="0" name="ValidacionCompartivoRAW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionEMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionGeneracionNegativa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionMO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionMaximoCM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionNCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionNegativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionPSSE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionRSF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoValidacion" nillable="true" type="tns:ResultadoValidacion" />
  <xs:complexType name="ArrayOfResultadoValidacionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoValidacionItem" nillable="true" type="tns:ResultadoValidacionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoValidacionItem" nillable="true" type="tns:ArrayOfResultadoValidacionItem" />
  <xs:complexType name="ResultadoValidacionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BarraNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndOpe" type="xs:int" />
      <xs:element minOccurs="0" name="Potencia" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tension" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoValidacionItem" nillable="true" type="tns:ResultadoValidacionItem" />
</xs:schema>