COES.MVC.Intranet/Service References/ServiceReferenceCostosMarginales/CostoMarginalServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/COES.Dominio.DTO.Transferencias" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/COES.Dominio.DTO.Transferencias" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfCostoMarginalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CostoMarginalDTO" nillable="true" type="tns:CostoMarginalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCostoMarginalDTO" nillable="true" type="tns:ArrayOfCostoMarginalDTO" />
  <xs:complexType name="CostoMarginalDTO">
    <xs:sequence>
      <xs:element name="_x003C_AnioSemana_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_BarrCodi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_BarrCodigo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Barrnombre_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Barrzarea_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CMGRCongestion_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CMGREnergia_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CMGRPromedio_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CMGRTotal_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CosMar10_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar11_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar12_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar13_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar14_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar15_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar16_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar17_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar18_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar19_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar1_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar20_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar21_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar22_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar23_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar24_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar25_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar26_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar27_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar28_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar29_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar2_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar30_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar31_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar32_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar33_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar34_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar35_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar36_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar37_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar38_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar39_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar3_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar40_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar41_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar42_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar43_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar44_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar45_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar46_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar47_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar48_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar49_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar4_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar50_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar51_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar52_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar53_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar54_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar55_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar56_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar57_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar58_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar59_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar5_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar60_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar61_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar62_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar63_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar64_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar65_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar66_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar67_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar68_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar69_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar6_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar70_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar71_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar72_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar73_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar74_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar75_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar76_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar77_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar78_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar79_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar7_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar80_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar81_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar82_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar83_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar84_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar85_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar86_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar87_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar88_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar89_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar8_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar90_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar91_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar92_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar93_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar94_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar95_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar96_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMar9_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMarBarraTransferencia_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CosMarCodi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CosMarDia_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CosMarFecIns_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CosMarMaxMes_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CosMarMinMes_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CosMarPromDia_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CosMarPromMes_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CosMarPromedioDia_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMarTotalDia_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CosMarUserName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CosMarVersion_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DiaFin_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DiaInicio_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Emprcodi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Emprnomb_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FacPerCodi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_FechaColumna_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FechaFin_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FechaInicio_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FechaIntervalo_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Fecha_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_GrupoCodi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_GrupoNomb_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GrupoPadre_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ListaBarras_x003E_k__BackingField" nillable="true" type="q1:ArrayOfint" />
      <xs:element name="_x003C_Osinergcodi_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PeriAnioMes_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PeriCodiFin_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PeriCodi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RecaCodi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RecaNombre_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TipoCostoMarginal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_tipoCongene_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_tipoPromedio_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CostoMarginalDTO" nillable="true" type="tns:CostoMarginalDTO" />
</xs:schema>