COES.MVC.Intranet/Service References/ServiceReferenceCostosMarginales/CostoMarginalServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="www.coes.org.pe" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="www.coes.org.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.coes.org.pe/Imports">
      <xsd:import schemaLocation="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?xsd=xsd0" namespace="www.coes.org.pe" />
      <xsd:import schemaLocation="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COES.Dominio.DTO.Transferencias" />
      <xsd:import schemaLocation="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/COES.Servicios.Aplicacion.CortoPlazo.Helper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICostoMarginalServicio_ListarCostosMarginales_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCostosMarginales" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_ListarCostosMarginales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCostosMarginalesResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarCostosMarginalesAlterno_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarCostosMarginalesAlterno" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarCostosMarginalesAlterno_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarCostosMarginalesAlternoResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarCostosMarginales_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarCostosMarginales" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarCostosMarginales_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarCostosMarginalesResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_ValidacionProcesoCostosMarginales_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidacionProcesoCostosMarginales" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_ValidacionProcesoCostosMarginales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidacionProcesoCostosMarginalesResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_ObtenerAlertasCostosMarginales_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAlertasCostosMarginales" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_ObtenerAlertasCostosMarginales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAlertasCostosMarginalesResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarReprocesoMasivo_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReprocesoMasivo" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarReprocesoMasivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReprocesoMasivoResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarReprocesoMasivoModificado_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReprocesoMasivoModificado" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarReprocesoMasivoModificado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReprocesoMasivoModificadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarReprocesoTIE_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReprocesoTIE" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarReprocesoTIE_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReprocesoTIEResponse" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarReprocesoVA_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReprocesoVA" />
  </wsdl:message>
  <wsdl:message name="ICostoMarginalServicio_EjecutarReprocesoVA_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarReprocesoVAResponse" />
  </wsdl:message>
  <wsdl:portType name="ICostoMarginalServicio">
    <wsdl:operation name="ListarCostosMarginales">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/ListarCostosMarginales" message="tns:ICostoMarginalServicio_ListarCostosMarginales_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/ListarCostosMarginalesResponse" message="tns:ICostoMarginalServicio_ListarCostosMarginales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarCostosMarginalesAlterno">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarCostosMarginalesAlterno" message="tns:ICostoMarginalServicio_EjecutarCostosMarginalesAlterno_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarCostosMarginalesAlternoResponse" message="tns:ICostoMarginalServicio_EjecutarCostosMarginalesAlterno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarCostosMarginales">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarCostosMarginales" message="tns:ICostoMarginalServicio_EjecutarCostosMarginales_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarCostosMarginalesResponse" message="tns:ICostoMarginalServicio_EjecutarCostosMarginales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidacionProcesoCostosMarginales">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/ValidacionProcesoCostosMarginales" message="tns:ICostoMarginalServicio_ValidacionProcesoCostosMarginales_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/ValidacionProcesoCostosMarginalesResponse" message="tns:ICostoMarginalServicio_ValidacionProcesoCostosMarginales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAlertasCostosMarginales">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/ObtenerAlertasCostosMarginales" message="tns:ICostoMarginalServicio_ObtenerAlertasCostosMarginales_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/ObtenerAlertasCostosMarginalesResponse" message="tns:ICostoMarginalServicio_ObtenerAlertasCostosMarginales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarReprocesoMasivo">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoMasivo" message="tns:ICostoMarginalServicio_EjecutarReprocesoMasivo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoMasivoResponse" message="tns:ICostoMarginalServicio_EjecutarReprocesoMasivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarReprocesoMasivoModificado">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoMasivoModificado" message="tns:ICostoMarginalServicio_EjecutarReprocesoMasivoModificado_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoMasivoModificadoResponse" message="tns:ICostoMarginalServicio_EjecutarReprocesoMasivoModificado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarReprocesoTIE">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoTIE" message="tns:ICostoMarginalServicio_EjecutarReprocesoTIE_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoTIEResponse" message="tns:ICostoMarginalServicio_EjecutarReprocesoTIE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarReprocesoVA">
      <wsdl:input wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoVA" message="tns:ICostoMarginalServicio_EjecutarReprocesoVA_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/ICostoMarginalServicio/EjecutarReprocesoVAResponse" message="tns:ICostoMarginalServicio_EjecutarReprocesoVA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>