COES.MVC.Intranet/Service References/ServiceReferenceYupanaContinuo/YupanaContinuoServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="www.coes.org.pe" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="www.coes.org.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.coes.org.pe/Imports">
      <xsd:import schemaLocation="http://10.100.251.83/coes.webservice.yupanacontinuo/YupanaContinuoServicio.svc?xsd=xsd0" namespace="www.coes.org.pe" />
      <xsd:import schemaLocation="http://10.100.251.83/coes.webservice.yupanacontinuo/YupanaContinuoServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IYupanaContinuoServicio_EjecutarYupanaContinuoAutomatico_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarYupanaContinuoAutomatico" />
  </wsdl:message>
  <wsdl:message name="IYupanaContinuoServicio_EjecutarYupanaContinuoAutomatico_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarYupanaContinuoAutomaticoResponse" />
  </wsdl:message>
  <wsdl:message name="IYupanaContinuoServicio_EjecutarYupanaContinuoManual_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarYupanaContinuoManual" />
  </wsdl:message>
  <wsdl:message name="IYupanaContinuoServicio_EjecutarYupanaContinuoManual_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarYupanaContinuoManualResponse" />
  </wsdl:message>
  <wsdl:message name="IYupanaContinuoServicio_VerificarEstadoYupanaContinuo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarEstadoYupanaContinuo" />
  </wsdl:message>
  <wsdl:message name="IYupanaContinuoServicio_VerificarEstadoYupanaContinuo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarEstadoYupanaContinuoResponse" />
  </wsdl:message>
  <wsdl:message name="IYupanaContinuoServicio_TerminarEjecucionGams_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminarEjecucionGams" />
  </wsdl:message>
  <wsdl:message name="IYupanaContinuoServicio_TerminarEjecucionGams_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminarEjecucionGamsResponse" />
  </wsdl:message>
  <wsdl:message name="IYupanaContinuoServicio_SimularArbolYupanaContinuo_InputMessage">
    <wsdl:part name="parameters" element="tns:SimularArbolYupanaContinuo" />
  </wsdl:message>
  <wsdl:message name="IYupanaContinuoServicio_SimularArbolYupanaContinuo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimularArbolYupanaContinuoResponse" />
  </wsdl:message>
  <wsdl:portType name="IYupanaContinuoServicio">
    <wsdl:operation name="EjecutarYupanaContinuoAutomatico">
      <wsdl:input wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/EjecutarYupanaContinuoAutomatico" message="tns:IYupanaContinuoServicio_EjecutarYupanaContinuoAutomatico_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/EjecutarYupanaContinuoAutomaticoResponse" message="tns:IYupanaContinuoServicio_EjecutarYupanaContinuoAutomatico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarYupanaContinuoManual">
      <wsdl:input wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/EjecutarYupanaContinuoManual" message="tns:IYupanaContinuoServicio_EjecutarYupanaContinuoManual_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/EjecutarYupanaContinuoManualResponse" message="tns:IYupanaContinuoServicio_EjecutarYupanaContinuoManual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarEstadoYupanaContinuo">
      <wsdl:input wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/VerificarEstadoYupanaContinuo" message="tns:IYupanaContinuoServicio_VerificarEstadoYupanaContinuo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/VerificarEstadoYupanaContinuoResponse" message="tns:IYupanaContinuoServicio_VerificarEstadoYupanaContinuo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminarEjecucionGams">
      <wsdl:input wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/TerminarEjecucionGams" message="tns:IYupanaContinuoServicio_TerminarEjecucionGams_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/TerminarEjecucionGamsResponse" message="tns:IYupanaContinuoServicio_TerminarEjecucionGams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimularArbolYupanaContinuo">
      <wsdl:input wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/SimularArbolYupanaContinuo" message="tns:IYupanaContinuoServicio_SimularArbolYupanaContinuo_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IYupanaContinuoServicio/SimularArbolYupanaContinuoResponse" message="tns:IYupanaContinuoServicio_SimularArbolYupanaContinuo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>