COES.MVC.Extranet/Service References/wsDemanda/Demanda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Demanda" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sicoes.coes.org.pe/wsSICOES/wsDemanda.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sicoes.coes.org.pe/wsSICOES/wsDemanda.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sicoes.coes.org.pe/wsSICOES/wsDemanda.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://sicoes.coes.org.pe/wsSICOES/wsDemanda.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://sicoes.coes.org.pe/wsSICOES/wsDemanda.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/wcfSicOperacion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDemanda_EmpresasRepxUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpresasRepxUsuario" />
  </wsdl:message>
  <wsdl:message name="IDemanda_EmpresasRepxUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpresasRepxUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_PuntoMedicionBarraxEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:PuntoMedicionBarraxEmp" />
  </wsdl:message>
  <wsdl:message name="IDemanda_PuntoMedicionBarraxEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:PuntoMedicionBarraxEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_PuntoMedicionBarraDescxEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:PuntoMedicionBarraDescxEmp" />
  </wsdl:message>
  <wsdl:message name="IDemanda_PuntoMedicionBarraDescxEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:PuntoMedicionBarraDescxEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_PuntoMedicionBarraDesc_InputMessage">
    <wsdl:part name="parameters" element="tns:PuntoMedicionBarraDesc" />
  </wsdl:message>
  <wsdl:message name="IDemanda_PuntoMedicionBarraDesc_OutputMessage">
    <wsdl:part name="parameters" element="tns:PuntoMedicionBarraDescResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ObtenerDemandaFuente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDemandaFuente" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ObtenerDemandaFuente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDemandaFuenteResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ListarEnviosxEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEnviosxEmpresas" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ListarEnviosxEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEnviosxEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ListarEnviosxEmpresaHistorico_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEnviosxEmpresaHistorico" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ListarEnviosxEmpresaHistorico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEnviosxEmpresaHistoricoResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ObtenerDemandaBarraDiario96Fhora_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDemandaBarraDiario96Fhora" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ObtenerDemandaBarraDiario96Fhora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDemandaBarraDiario96FhoraResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ObtenerDemandaBarraDiario96Fhora2_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDemandaBarraDiario96Fhora2" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ObtenerDemandaBarraDiario96Fhora2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDemandaBarraDiario96Fhora2Response" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ObtenerDemandaBarraSemanal96Fhora_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDemandaBarraSemanal96Fhora" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ObtenerDemandaBarraSemanal96Fhora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDemandaBarraSemanal96FhoraResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraDiariaReportada96_InputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraDiariaReportada96" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraDiariaReportada96_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraDiariaReportada96Response" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraSemanalReportada96_InputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraSemanalReportada96" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraSemanalReportada96_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraSemanalReportada96Response" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraReporte48from48T_InputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraReporte48from48T" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraReporte48from48T_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraReporte48from48TResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraReporte48from48T2_InputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraReporte48from48T2" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraReporte48from48T2_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraReporte48from48T2Response" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraReporte48from96T_InputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraReporte48from96T" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraReporte48from96T_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraReporte48from96TResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraReporte96from96T_InputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraReporte96from96T" />
  </wsdl:message>
  <wsdl:message name="IDemanda_DemandaBarraReporte96from96T_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemandaBarraReporte96from96TResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_AgregarDemanda48_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDemanda48" />
  </wsdl:message>
  <wsdl:message name="IDemanda_AgregarDemanda48_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDemanda48Response" />
  </wsdl:message>
  <wsdl:message name="IDemanda_AgregarDemanda96_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDemanda96" />
  </wsdl:message>
  <wsdl:message name="IDemanda_AgregarDemanda96_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDemanda96Response" />
  </wsdl:message>
  <wsdl:message name="IDemanda_EliminarDemanda96DiaExe_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDemanda96DiaExe" />
  </wsdl:message>
  <wsdl:message name="IDemanda_EliminarDemanda96DiaExe_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDemanda96DiaExeResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_EliminarDemanda96DiaPro_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDemanda96DiaPro" />
  </wsdl:message>
  <wsdl:message name="IDemanda_EliminarDemanda96DiaPro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDemanda96DiaProResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_EliminarDemanda96SemPro_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDemanda96SemPro" />
  </wsdl:message>
  <wsdl:message name="IDemanda_EliminarDemanda96SemPro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDemanda96SemProResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimiento_InputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimiento" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoDet_InputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoDet" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoDet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoDetResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoDiario_InputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoDiario" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoDiario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoDiarioResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoDiario2_InputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoDiario2" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoDiario2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoDiario2Response" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoPorc_InputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoPorc" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoPorc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoPorcResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoxEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoxEmpresa" />
  </wsdl:message>
  <wsdl:message name="IDemanda_ReporteCumplimientoxEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteCumplimientoxEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IDemanda_Version_InputMessage">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="IDemanda_Version_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IDemanda">
    <wsdl:operation name="EmpresasRepxUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/EmpresasRepxUsuario" message="tns:IDemanda_EmpresasRepxUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/EmpresasRepxUsuarioResponse" message="tns:IDemanda_EmpresasRepxUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PuntoMedicionBarraxEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/PuntoMedicionBarraxEmp" message="tns:IDemanda_PuntoMedicionBarraxEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/PuntoMedicionBarraxEmpResponse" message="tns:IDemanda_PuntoMedicionBarraxEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PuntoMedicionBarraDescxEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/PuntoMedicionBarraDescxEmp" message="tns:IDemanda_PuntoMedicionBarraDescxEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/PuntoMedicionBarraDescxEmpResponse" message="tns:IDemanda_PuntoMedicionBarraDescxEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PuntoMedicionBarraDesc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/PuntoMedicionBarraDesc" message="tns:IDemanda_PuntoMedicionBarraDesc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/PuntoMedicionBarraDescResponse" message="tns:IDemanda_PuntoMedicionBarraDesc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDemandaFuente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ObtenerDemandaFuente" message="tns:IDemanda_ObtenerDemandaFuente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ObtenerDemandaFuenteResponse" message="tns:IDemanda_ObtenerDemandaFuente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEnviosxEmpresas">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ListarEnviosxEmpresas" message="tns:IDemanda_ListarEnviosxEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ListarEnviosxEmpresasResponse" message="tns:IDemanda_ListarEnviosxEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEnviosxEmpresaHistorico">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ListarEnviosxEmpresaHistorico" message="tns:IDemanda_ListarEnviosxEmpresaHistorico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ListarEnviosxEmpresaHistoricoResponse" message="tns:IDemanda_ListarEnviosxEmpresaHistorico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDemandaBarraDiario96Fhora">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ObtenerDemandaBarraDiario96Fhora" message="tns:IDemanda_ObtenerDemandaBarraDiario96Fhora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ObtenerDemandaBarraDiario96FhoraResponse" message="tns:IDemanda_ObtenerDemandaBarraDiario96Fhora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDemandaBarraDiario96Fhora2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ObtenerDemandaBarraDiario96Fhora2" message="tns:IDemanda_ObtenerDemandaBarraDiario96Fhora2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ObtenerDemandaBarraDiario96Fhora2Response" message="tns:IDemanda_ObtenerDemandaBarraDiario96Fhora2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDemandaBarraSemanal96Fhora">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ObtenerDemandaBarraSemanal96Fhora" message="tns:IDemanda_ObtenerDemandaBarraSemanal96Fhora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ObtenerDemandaBarraSemanal96FhoraResponse" message="tns:IDemanda_ObtenerDemandaBarraSemanal96Fhora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraDiariaReportada96">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraDiariaReportada96" message="tns:IDemanda_DemandaBarraDiariaReportada96_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraDiariaReportada96Response" message="tns:IDemanda_DemandaBarraDiariaReportada96_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraSemanalReportada96">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraSemanalReportada96" message="tns:IDemanda_DemandaBarraSemanalReportada96_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraSemanalReportada96Response" message="tns:IDemanda_DemandaBarraSemanalReportada96_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraReporte48from48T">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraReporte48from48T" message="tns:IDemanda_DemandaBarraReporte48from48T_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraReporte48from48TResponse" message="tns:IDemanda_DemandaBarraReporte48from48T_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraReporte48from48T2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraReporte48from48T2" message="tns:IDemanda_DemandaBarraReporte48from48T2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraReporte48from48T2Response" message="tns:IDemanda_DemandaBarraReporte48from48T2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraReporte48from96T">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraReporte48from96T" message="tns:IDemanda_DemandaBarraReporte48from96T_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraReporte48from96TResponse" message="tns:IDemanda_DemandaBarraReporte48from96T_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraReporte96from96T">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraReporte96from96T" message="tns:IDemanda_DemandaBarraReporte96from96T_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/DemandaBarraReporte96from96TResponse" message="tns:IDemanda_DemandaBarraReporte96from96T_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDemanda48">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/AgregarDemanda48" message="tns:IDemanda_AgregarDemanda48_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/AgregarDemanda48Response" message="tns:IDemanda_AgregarDemanda48_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDemanda96">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/AgregarDemanda96" message="tns:IDemanda_AgregarDemanda96_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/AgregarDemanda96Response" message="tns:IDemanda_AgregarDemanda96_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDemanda96DiaExe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/EliminarDemanda96DiaExe" message="tns:IDemanda_EliminarDemanda96DiaExe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/EliminarDemanda96DiaExeResponse" message="tns:IDemanda_EliminarDemanda96DiaExe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDemanda96DiaPro">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/EliminarDemanda96DiaPro" message="tns:IDemanda_EliminarDemanda96DiaPro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/EliminarDemanda96DiaProResponse" message="tns:IDemanda_EliminarDemanda96DiaPro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDemanda96SemPro">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/EliminarDemanda96SemPro" message="tns:IDemanda_EliminarDemanda96SemPro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/EliminarDemanda96SemProResponse" message="tns:IDemanda_EliminarDemanda96SemPro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimiento" message="tns:IDemanda_ReporteCumplimiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoResponse" message="tns:IDemanda_ReporteCumplimiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoDet">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoDet" message="tns:IDemanda_ReporteCumplimientoDet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoDetResponse" message="tns:IDemanda_ReporteCumplimientoDet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoDiario">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoDiario" message="tns:IDemanda_ReporteCumplimientoDiario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoDiarioResponse" message="tns:IDemanda_ReporteCumplimientoDiario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoDiario2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoDiario2" message="tns:IDemanda_ReporteCumplimientoDiario2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoDiario2Response" message="tns:IDemanda_ReporteCumplimientoDiario2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoPorc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoPorc" message="tns:IDemanda_ReporteCumplimientoPorc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoPorcResponse" message="tns:IDemanda_ReporteCumplimientoPorc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoxEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoxEmpresa" message="tns:IDemanda_ReporteCumplimientoxEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/ReporteCumplimientoxEmpresaResponse" message="tns:IDemanda_ReporteCumplimientoxEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Version">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemanda/Version" message="tns:IDemanda_Version_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemanda/VersionResponse" message="tns:IDemanda_Version_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDemanda" type="tns:IDemanda">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmpresasRepxUsuario">
      <soap:operation soapAction="http://tempuri.org/IDemanda/EmpresasRepxUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PuntoMedicionBarraxEmp">
      <soap:operation soapAction="http://tempuri.org/IDemanda/PuntoMedicionBarraxEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PuntoMedicionBarraDescxEmp">
      <soap:operation soapAction="http://tempuri.org/IDemanda/PuntoMedicionBarraDescxEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PuntoMedicionBarraDesc">
      <soap:operation soapAction="http://tempuri.org/IDemanda/PuntoMedicionBarraDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDemandaFuente">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ObtenerDemandaFuente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEnviosxEmpresas">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ListarEnviosxEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEnviosxEmpresaHistorico">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ListarEnviosxEmpresaHistorico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDemandaBarraDiario96Fhora">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ObtenerDemandaBarraDiario96Fhora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDemandaBarraDiario96Fhora2">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ObtenerDemandaBarraDiario96Fhora2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDemandaBarraSemanal96Fhora">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ObtenerDemandaBarraSemanal96Fhora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraDiariaReportada96">
      <soap:operation soapAction="http://tempuri.org/IDemanda/DemandaBarraDiariaReportada96" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraSemanalReportada96">
      <soap:operation soapAction="http://tempuri.org/IDemanda/DemandaBarraSemanalReportada96" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraReporte48from48T">
      <soap:operation soapAction="http://tempuri.org/IDemanda/DemandaBarraReporte48from48T" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraReporte48from48T2">
      <soap:operation soapAction="http://tempuri.org/IDemanda/DemandaBarraReporte48from48T2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraReporte48from96T">
      <soap:operation soapAction="http://tempuri.org/IDemanda/DemandaBarraReporte48from96T" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemandaBarraReporte96from96T">
      <soap:operation soapAction="http://tempuri.org/IDemanda/DemandaBarraReporte96from96T" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDemanda48">
      <soap:operation soapAction="http://tempuri.org/IDemanda/AgregarDemanda48" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDemanda96">
      <soap:operation soapAction="http://tempuri.org/IDemanda/AgregarDemanda96" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDemanda96DiaExe">
      <soap:operation soapAction="http://tempuri.org/IDemanda/EliminarDemanda96DiaExe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDemanda96DiaPro">
      <soap:operation soapAction="http://tempuri.org/IDemanda/EliminarDemanda96DiaPro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDemanda96SemPro">
      <soap:operation soapAction="http://tempuri.org/IDemanda/EliminarDemanda96SemPro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimiento">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ReporteCumplimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoDet">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ReporteCumplimientoDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoDiario">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ReporteCumplimientoDiario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoDiario2">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ReporteCumplimientoDiario2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoPorc">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ReporteCumplimientoPorc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteCumplimientoxEmpresa">
      <soap:operation soapAction="http://tempuri.org/IDemanda/ReporteCumplimientoxEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://tempuri.org/IDemanda/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Demanda">
    <wsdl:port name="BasicHttpBinding_IDemanda" binding="tns:BasicHttpBinding_IDemanda">
      <soap:address location="http://sicoes.coes.org.pe/wsSICOES/wsDemanda.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>