COES.MVC.Extranet/Service References/wsDemanda/wsDemanda1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sicoes.coes.org.pe/wsSICOES/wsDemanda.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://sicoes.coes.org.pe/wsSICOES/wsDemanda.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/wcfSicOperacion" />
  <xs:element name="EmpresasRepxUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="as_arr_emp" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpresasRepxUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpresasRepxUsuarioResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuntoMedicionBarraxEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ai_emprcodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuntoMedicionBarraxEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PuntoMedicionBarraxEmpResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuntoMedicionBarraDescxEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ai_emprcodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuntoMedicionBarraDescxEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PuntoMedicionBarraDescxEmpResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuntoMedicionBarraDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuntoMedicionBarraDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PuntoMedicionBarraDescResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDemandaFuente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ai_etacodi" type="xs:int" />
        <xs:element minOccurs="0" name="adt_fecha_rep" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDemandaFuenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDemandaFuenteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEnviosxEmpresas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_f_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_f_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_emprcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipempr" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEnviosxEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarEnviosxEmpresasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEnviosxEmpresaHistorico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_f_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_f_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_tipo_empr" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipo" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEnviosxEmpresaHistoricoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarEnviosxEmpresaHistoricoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDemandaBarraDiario96Fhora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fecha_rep" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi_real" type="xs:int" />
        <xs:element minOccurs="0" name="ai_lectcodi_prog" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDemandaBarraDiario96FhoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDemandaBarraDiario96FhoraResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDemandaBarraDiario96Fhora2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_ffin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_etacodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDemandaBarraDiario96Fhora2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDemandaBarraDiario96Fhora2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDemandaBarraSemanal96Fhora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fecha_rep" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDemandaBarraSemanal96FhoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDemandaBarraSemanal96FhoraResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraDiariaReportada96">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fecha_rep" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi_real" type="xs:int" />
        <xs:element minOccurs="0" name="ai_lectcodi_prog" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_canalcodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraDiariaReportada96Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemandaBarraDiariaReportada96Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraSemanalReportada96">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fecha_rep" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraSemanalReportada96Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemandaBarraSemanalReportada96Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraReporte48from48T">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fi" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_ff" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_emprecodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraReporte48from48TResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemandaBarraReporte48from48TResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraReporte48from48T2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fi" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_ff" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_emprecodi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraReporte48from48T2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemandaBarraReporte48from48T2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraReporte48from96T">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fi" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_ff" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_emprecodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraReporte48from96TResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemandaBarraReporte48from96TResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraReporte96from96T">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fi" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_ff" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_emprecodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandaBarraReporte96from96TResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemandaBarraReporte96from96TResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDemanda48">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arr_valores48" nillable="true" type="q2:ArrayOfdouble" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDemanda48Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarDemanda48Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDemanda96">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_lectcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipoinf" type="xs:int" />
        <xs:element minOccurs="0" name="ai_ptomedicodi" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arr_valores96" nillable="true" type="q3:ArrayOfdouble" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDemanda96Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarDemanda96Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDemanda96DiaExe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_f_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_f_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_emprcodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDemanda96DiaExeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDemanda96DiaExeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDemanda96DiaPro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_f_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_f_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_emprcodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDemanda96DiaProResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDemanda96DiaProResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDemanda96SemPro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_f_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_f_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_emprcodi" type="xs:int" />
        <xs:element minOccurs="0" name="as_credencial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDemanda96SemProResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDemanda96SemProResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcfSicOperacion" minOccurs="0" name="ReporteCumplimientoResult" nillable="true" type="q4:ArrayOfCumplimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_emprcodi" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcfSicOperacion" minOccurs="0" name="ReporteCumplimientoDetResult" nillable="true" type="q5:ArrayOfCumplimientoDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoDiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_emprcodi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoDiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/wcfSicOperacion" minOccurs="0" name="ReporteCumplimientoDiarioResult" nillable="true" type="q6:ArrayOfCumplimientoDiario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoDiario2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_emprcodi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoDiario2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/wcfSicOperacion" minOccurs="0" name="ReporteCumplimientoDiario2Result" nillable="true" type="q7:ArrayOfCumplimientoDiario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoPorc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_tipo_emp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoPorcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/wcfSicOperacion" minOccurs="0" name="ReporteCumplimientoPorcResult" nillable="true" type="q8:ArrayOfCumplimientoPorcEmp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoxEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adt_fini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="adt_ffin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ai_tipo" type="xs:int" />
        <xs:element minOccurs="0" name="ai_tipo_em" type="xs:int" />
        <xs:element minOccurs="0" name="ai_frec" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCumplimientoxEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/wcfSicOperacion" minOccurs="0" name="ReporteCumplimientoxEmpresaResult" nillable="true" type="q9:ArrayOfCumplimientoDiarioxEmp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Version">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>