COES.MVC.Extranet/Service References/wsDemanda/wsDemanda4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfSicOperacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfSicOperacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCumplimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cumplimiento" nillable="true" type="tns:Cumplimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCumplimiento" nillable="true" type="tns:ArrayOfCumplimiento" />
  <xs:complexType name="Cumplimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emprcodi" type="xs:int" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NCumplimiento" type="xs:int" />
      <xs:element minOccurs="0" name="NNoCumplimiento" type="xs:int" />
      <xs:element minOccurs="0" name="TipoEmpresa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cumplimiento" nillable="true" type="tns:Cumplimiento" />
  <xs:complexType name="ArrayOfCumplimientoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CumplimientoDetalle" nillable="true" type="tns:CumplimientoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCumplimientoDetalle" nillable="true" type="tns:ArrayOfCumplimientoDetalle" />
  <xs:complexType name="CumplimientoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CumplimientoDetalle" nillable="true" type="tns:CumplimientoDetalle" />
  <xs:complexType name="ArrayOfCumplimientoDiario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CumplimientoDiario" nillable="true" type="tns:CumplimientoDiario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCumplimientoDiario" nillable="true" type="tns:ArrayOfCumplimientoDiario" />
  <xs:complexType name="CumplimientoDiario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Diario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semanal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CumplimientoDiario" nillable="true" type="tns:CumplimientoDiario" />
  <xs:complexType name="ArrayOfCumplimientoPorcEmp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CumplimientoPorcEmp" nillable="true" type="tns:CumplimientoPorcEmp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCumplimientoPorcEmp" nillable="true" type="tns:ArrayOfCumplimientoPorcEmp" />
  <xs:complexType name="CumplimientoPorcEmp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicial" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValorAnual" type="xs:double" />
      <xs:element minOccurs="0" name="ValorMen" type="xs:double" />
      <xs:element minOccurs="0" name="ValorSem" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CumplimientoPorcEmp" nillable="true" type="tns:CumplimientoPorcEmp" />
  <xs:complexType name="ArrayOfCumplimientoDiarioxEmp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CumplimientoDiarioxEmp" nillable="true" type="tns:CumplimientoDiarioxEmp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCumplimientoDiarioxEmp" nillable="true" type="tns:ArrayOfCumplimientoDiarioxEmp" />
  <xs:complexType name="CumplimientoDiarioxEmp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Potencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsIntegrante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnvPr30" type="xs:int" />
      <xs:element minOccurs="0" name="EnvPlazo" type="xs:int" />
      <xs:element minOccurs="0" name="EnvFPlazo" type="xs:int" />
      <xs:element minOccurs="0" name="NoEnviados" type="xs:int" />
      <xs:element minOccurs="0" name="PorCumplimiento" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CumplimientoDiarioxEmp" nillable="true" type="tns:CumplimientoDiarioxEmp" />
</xs:schema>