COES.MVC.Intranet/Service References/SeguridadServicio/SeguridadServicio4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="www.coes.com.pe" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeguridadServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="www.coes.com.pe" location="http://localhost:61923/SeguridadServicio.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ISeguridadServicio" type="i0:ISeguridadServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GrabarModuloPorUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarModuloPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioRepLegales">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioRepLegales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSolicituExtranet">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarSolicituExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarSolicitudExtranet">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarSolicitudExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AprobarSolicitudExtranet">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/AprobarSolicitudExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudExtranet">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerSolicitudExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarioSolicitudBaja">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarUsuarioSolicitudBaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleSolicitudExtranet">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerDetalleSolicitudExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionSolicitudExtranet">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionSolicitudExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarPasswordNuevo">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EnviarPasswordNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarLog">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLog">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ConsultarLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporteUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerReporteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleReporteUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerDetalleReporteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporteSolicitud">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerReporteSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleReporteSolicitud">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerDetalleReporteSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresasActivasPorUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresasActivasPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTotalEmpresas">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerTotalEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarPermiso">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPermiso">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EliminarPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPermiso">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPermisos">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarPermisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarWebApp">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarWebApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarWebApp">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EliminarWebApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerWebApp">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerWebApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWebApps">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarWebApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarRol">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRol">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EliminarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRol">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRoles">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/BuscarRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRoles">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaOpcionesPorRol">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListaOpcionesPorRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRolPorUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerRolPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRolesPorOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerRolesPorOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAreas">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarios">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/BuscarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutentificarUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/AutentificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarClave">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/RecuperarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarExistencia">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ValidarExistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/CambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClaveUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/CambiarClaveUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DarDeBajaUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/DarDeBajaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosPorRol">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerUsuariosPorRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutentificarUsuarioAD">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/AutentificarUsuarioAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioPorLogin">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioPorLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosExtranet">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarUsuariosExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosPorEmpresa">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarUsuariosPorEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarioExtranet">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ActualizarUsuarioExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosRepresentantes">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarUsuariosRepresentantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPassword">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GenerarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionRepresentante">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionRepresentante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionModificacionUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionModificacionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotificacionBajaUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EnviarNotificacionBajaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPermisosDeUsuariosPorOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarPermisosDeUsuariosPorOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EliminarOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorSistema">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorPadre">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorPadre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarNodoOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ActualizarNodoOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNroItemPorPadre">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerNroItemPorPadre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarOpcionesNodoSeleccionado">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarOpcionesNodoSeleccionado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionesPorAplicacionRol">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionesPorAplicacionRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNodosPorRol">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerNodosPorRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerarAreas">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerarAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasCOES">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerAreasCOES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresas">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresa">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarAccesoOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ValidarAccesoOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarPermisoOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ValidarPermisoOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPermisosPorOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerPermisosPorOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPersmisosRolOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerPersmisosRolOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncriptarUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EncriptarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesencriptarUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/DesencriptarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarEstadistica">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarEstadistica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadisticaPorOpcion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadisticaPorSistema">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresasPorUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresasPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPermisosPorOpcionPorUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerPermisosPorOpcionPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorUsuarioFavorito">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorUsuarioFavorito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarAccesoDirecto">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarAccesoDirecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAccesoDirecto">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarAccesoDirecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerModulo">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarModulos">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ListarModulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarModulo">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/GrabarModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarModulo">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EliminarModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSolicitudUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/RegistrarSolicitudUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudPorUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerSolicitudPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarSolicitudModulo">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EnviarSolicitudModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarRecordatorioSolicitud">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/EnviarRecordatorioSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AprobarUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/AprobarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerModulosPorUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerModulosPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AprobarSolicitudModulo">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/AprobarSolicitudModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpresasUsuario">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ActualizarEmpresasUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AprobarUsuarioSolicitud">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/AprobarUsuarioSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerModulosPorUsuarioSelecion">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerModulosPorUsuarioSelecion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRolesPorDefectoExtranet">
      <soap:operation soapAction="www.coes.com.pe/ISeguridadServicio/ObtenerRolesPorDefectoExtranet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeguridadServicio">
    <wsdl:port name="BasicHttpBinding_ISeguridadServicio" binding="tns:BasicHttpBinding_ISeguridadServicio">
      <soap:address location="http://localhost:61923/SeguridadServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>