COES.MVC.Intranet/Service References/ServiceReferencePotenciaFirme/PotenciaFirmeServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.coes.org.pe" elementFormDefault="qualified" targetNamespace="www.coes.org.pe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EjecutarPotenciaRemunerable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pfpericodi" type="xs:int" />
        <xs:element minOccurs="0" name="pfrecacodi" type="xs:int" />
        <xs:element minOccurs="0" name="indrecacodiant" type="xs:int" />
        <xs:element minOccurs="0" name="recpotcodi" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarPotenciaRemunerableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EjecutarPotenciaRemunerableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>